Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility, ts-lint, ts-check, test

lefthook.yml:

pre-commit:
  # piped: true
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm lint:css {staged_files}
    php-lint:
      glob: '*.{php}'
      run: pnpm lint:php {staged_files}
    php-test:
      glob: '*{php}'
      run: pnpm test:php {staged_files}
    php-compatibility:
      glob: 'backend/**/*.php'
      run: pnpm compat {staged_files}
    ts-lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint
    pretty:
      run: pnpm pretty:quick
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check
    test:
      glob: '*.test.{js,ts,jsx,tsx}'
      run: pnpm test

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}

Delete composer.lock
  composer.lock
Due: none

chore: version updated
  bit_smtp.php
  readme.txt
Due: none

feat: telemetry functionalities added
  backend/app/Config.php
  backend/app/HTTP/Controllers/SMTPAnalyticsController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/TelemetryAccessRequest.php
  backend/app/Plugin.php
  backend/app/Providers/HookProvider.php
  backend/hooks/ajax.php
  bit_smtp.php
  composer.json
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Modal/Index.ts
  frontend/src/components/Modal/Modal.module.css
  frontend/src/components/Modal/Modal.tsx
  frontend/src/pages/Homepage/SMTP.module.css
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/MailSendTest/MailSendTest.module.css
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/resource/styles/wp-css-reset.css
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: simple changes
  backend/app/HTTP/Controllers/SMTPAnalyticsController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/Plugin.php
  backend/hooks/ajax.php
Due: php-compatibility

chore: telemetry popup will show after version update if user skipped
  backend/app/HTTP/Controllers/SMTPAnalyticsController.php
Due: php-compatibility

chore: code formatted
  backend/app/HTTP/Controllers/SMTPAnalyticsController.php
Due: php-compatibility

chore: gh actions for auto deploy
  .github/workflows/deploy.yml
  .gitignore
  composer.lock
Due: none

fix: gh action build path
  .github/workflows/deploy.yml
Due: none

chore: svn assets added
  .gitattributes
  .github/workflows/deploy.yml
  .wordpress-org/banner-1544x500.gif
  .wordpress-org/banner-772x250.gif
  .wordpress-org/icon-128x128.gif
  .wordpress-org/icon-256x256.gif
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
Due: none

chore: updated gh action to disable dry run
  .github/workflows/deploy.yml
Due: none

chore: pnpm updated
  package.json
  pnpm-lock.yaml
Due: none

chore: others page updated
  frontend/src/pages/Others/Others.tsx
Due: ts-lint, ts-check

chore: updated gh action and added files to distignore
  .distignore
  .github/workflows/deploy.yml
Due: none

chore: telemetry Modal replaced with Multi Step Modal
  backend/app/Config.php
  backend/app/HTTP/Controllers/TelemetryPopupController.php
  backend/app/Providers/HookProvider.php
  backend/hooks/ajax.php
  bit_smtp.php
  frontend/src/changeLogs.ts
  frontend/src/components/Modal/Index.ts
  frontend/src/components/Modal/Modal.module.css
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/TelemetryPopup/Index.ts
  frontend/src/components/TelemetryPopup/TelemetryPopup.module.css
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Others/Others.module.css
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/bit-social-release.png
  frontend/src/resource/styles/global.css
  readme.txt
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: update readme
  readme.txt
Due: none

chore: a couple of changes
  frontend/src/changeLogs.ts
  frontend/src/components/TelemetryPopup/TelemetryPopup.module.css
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Others/Others.module.css
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/bit-social-release.png
  frontend/src/resource/img/earlyBirdOffer.webp
  frontend/src/resource/styles/global.css
  frontend/src/types/global.d.ts
  package.json
  pnpm-lock.yaml
Due: style-lint, ts-lint, ts-check

chore: minor changes
  frontend/src/pages/Others/Others.tsx
Due: ts-lint, ts-check

chore: readme updated
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
  backend/app/Config.php
  bit_smtp.php
  composer.lock
  readme.txt
Due: php-compatibility

chore: telemetry package version updated
  bit_smtp.php
  composer.json
  readme.txt
Due: none

chore: bit social promotional banner updated
  backend/app/Config.php
  bit_smtp.php
  composer.lock
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/exclusiveEarlyBirdOffer.jpg
  frontend/src/types/global.d.ts
  readme.txt
Due: php-compatibility, ts-lint, ts-check

chore: readme updated
  backend/app/Config.php
  bit_smtp.php
  readme.txt
Due: php-compatibility

chore: update composer
  composer.lock
Due: none

fix: plugin deletion issue fixed
  backend/app/Config.php
  backend/app/Providers/InstallerProvider.php
  backend/db/Migrations/BitSmtpPluginOptions.php
  bit_smtp.php
  frontend/src/resource/img/exclusiveEarlyBirdOffer.jpg
  readme.txt
Due: php-compatibility

chore: bit Social promotional banner updated
  backend/app/Config.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/hooks/ajax.php
  bit_smtp.php
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/exclusiveEarlyBirdOffer.jpg
  frontend/src/resource/img/exclusiveEarlyBirdOffer.png
  readme.txt
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: bit social promotional banner , content removed
  backend/app/Config.php
  composer.lock
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Others/Others.tsx
  readme.txt
Due: php-compatibility, ts-lint, ts-check

chore: bit flow release banner added
  backend/app/Config.php
  bit_smtp.php
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/resource/img/exclusiveEarlyBirdOffer.png
  readme.txt
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: bit Flows early bird banner added
  backend/app/Config.php
  bit_smtp.php
  frontend/src/resource/img/exclusiveEarlyBirdOffer.png
Due: php-compatibility

chore: version updated
  backend/app/Config.php
  bit_smtp.php
  readme.txt
Due: php-compatibility

chore: version updated
  backend/app/Config.php
  bit_smtp.php
  frontend/src/pages/Layout/Layout.tsx
  readme.txt
Due: php-compatibility, ts-lint, ts-check

feat: mail log
  backend/app/Config.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/TelemetryPopupController.php
  backend/app/HTTP/Requests/DeleteLogRequest.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Model/Log.php
  backend/app/Providers/HookProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/app/Providers/MailConfigProvider.php
  backend/app/Views/Layout.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  backend/db/Migrations/BitSmtpPluginOptions.php
  backend/hooks/ajax.php
  frontend/src/AppRoutes.tsx
  frontend/src/common/helpers/request.ts
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/main.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Logs/data/useDeleteLog.ts
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/index.ts
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: php-compatibility, ts-lint, ts-check

feat: mail log and resend
  backend/app/Config.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
  backend/app/HTTP/Requests/DeleteLogRequest.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Model/Log.php
  backend/app/Plugin.php
  backend/app/Providers/MailConfigProvider.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  backend/hooks/ajax.php
Due: php-compatibility

feat: mail log and resend
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Model/Log.php
  backend/app/Plugin.php
  backend/app/Providers/MailConfigProvider.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
Due: php-compatibility

style(wip): antd styling
  .gitignore
  AGENTS.md
  bit_smtp.php
  frontend/src/AppRoutes.tsx
  frontend/src/components/Input/Input.module.css
  frontend/src/config/theme.ts
  frontend/src/config/themes/common.ts
  frontend/src/config/themes/theme.dark.ts
  frontend/src/config/themes/theme.light.ts
  frontend/src/config/themes/theme.provider.tsx
  frontend/src/pages/Homepage/SMTP.module.css
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Logs/data/useFetchLog.ts
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/data/useLogRetention.ts
  frontend/src/pages/Logs/data/useResendLog.ts
  frontend/src/pages/Logs/ui/LogDetails.tsx
  frontend/src/pages/Logs/ui/LogRetentionSettings.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/MailSendTest/MailSendTest.module.css
  frontend/src/resource/styles/global.css
  frontend/src/resource/styles/variables.css
  package.json
  pnpm-lock.yaml
  readme.txt
Due: style-lint, ts-lint, ts-check

style: config form updated
  .nvmrc
  backend/app/HTTP/Controllers/SMTPController.php
  backend/bootstrap.php
  frontend/src/pages/Homepage/SMTP.tsx
  pnpm-workspace.yaml
Due: php-compatibility, ts-lint, ts-check

feat: show notice in dashboard if packages not installed/vendor_autoload not readable
  backend/bootstrap.php
Due: none

style: antd implemented in all components
  frontend/src/components/Toaster/Toaster.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/Others/Others.tsx
  frontend/src/pages/Others/pluginsData.ts
  frontend/src/resource/styles/global.css
  package.json
  pnpm-lock.yaml
Due: style-lint, ts-lint, ts-check

feat: mail log and resend -- log /details ui updated -- fix: config form (save/render) -- feat: bulk resend -- query optimized
  backend/app/Connectors/SmtpConfig.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/HTTP/Services/LogService.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Model/Log.php
  backend/app/Plugin.php
  backend/app/Providers/MailConfigProvider.php
  backend/app/Providers/SmtpProvider.php
  frontend/src/components/DebugOutput/DebugOutput.module.css
  frontend/src/components/DebugOutput/DebugOutput.tsx
  frontend/src/icons/LogoIcon.tsx
  frontend/src/icons/LogoText.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Homepage/data/useSmtpConfig.ts
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Logs/data/useResendLog.ts
  frontend/src/pages/Logs/data/useResendLogs.ts
  frontend/src/pages/Logs/ui/LogDetails.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/Others/pluginsData.ts
  frontend/src/resource/img/bitFlows.svg
  frontend/src/resource/img/bitSocial.svg
  frontend/src/resource/img/home.svg
  frontend/src/resource/img/logo.svg
  frontend/src/resource/img/nodata.svg
  frontend/src/resource/img/space.svg
  frontend/src/resource/styles/global.css
  readme.txt
Due: style-lint, php-compatibility, ts-lint, ts-check

fix: some issues
  backend/app/Connectors/SmtpConfig.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/HTTP/Requests/MailTestRequest.php
  backend/app/HTTP/Services/LogService.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Providers/SmtpProvider.php
  backend/app/Views/Layout.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  backend/hooks/ajax.php
  frontend/src/AppRoutes.tsx
  frontend/src/components/DebugOutput/DebugOutput.tsx
  frontend/src/components/Toaster/Toaster.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Homepage/data/useSmtpConfig.ts
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/data/useLogToggle.ts
  frontend/src/pages/Logs/ui/EmailPreviewer.tsx
  frontend/src/pages/Logs/ui/LogDetails.tsx
  frontend/src/pages/Logs/ui/LogRetentionSettings.tsx
  frontend/src/pages/Logs/ui/LogToggle.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/Logs/ui/tabs/DebugOutputTab.tsx
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.tsx
  frontend/src/pages/Logs/ui/tabs/MailBodyTab.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/MailSendTest/data/useTestMailSend.ts
  frontend/src/resource/styles/global.css
  tsconfig.json
Due: style-lint, php-compatibility, ts-lint, ts-check

feat: rest api used instead of ajax and fixes some issues related to logger
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
  backend/app/Config.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/Plugin.php
  backend/app/Views/Layout.php
  backend/hooks/ajax.php
  backend/hooks/api.php
  frontend/src/AppRoutes.tsx
  frontend/src/common/helpers/request.ts
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
  frontend/src/config/config.ts
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Homepage/data/useSmtpConfig.ts
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Logs/data/useLogToggle.ts
  frontend/src/pages/MailSendTest/data/useTestMailSend.ts
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/adBanner.png
  frontend/src/resource/img/bitSmtpLogo.svg
  frontend/src/resource/img/earlyBirdOffer.webp
  frontend/src/resource/img/exclusiveEarlyBirdOffer.png
  readme.txt
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: react query removed from build chunks
  vite.config.mts
Due: none
