Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

lefthook.yml:

pre-commit:
  # piped: true
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm lint:css {staged_files}
    php-lint:
      glob: '*.{php}'
      run: pnpm lint:php {staged_files}

    php-compatibility:
      glob: 'backend/**/*.php'
      run: pnpm compat {staged_files}
    ts-lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint
    pretty:
      run: pnpm pretty:quick
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check
    test:
      glob: '*.test.{js,ts,jsx,tsx}'
      run: pnpm test

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}
github-actions:
  parallel: true
  commands:
    lint:
      run: pnpm eslint frontend
    lint-css:
      run: pnpm lint:css
    lint-php:
      run: composer lint
    php-compatibility-check:
      run: composer compat
    prettier:
      run: pnpm pretty:fix
    # test-js:
    #   run: pnpm test
    ts-check:
      run: pnpm ts-check

feat(analytics): add aggregate mail analysis
  backend/app/Mail/Analytics/AnalyticsQuery.php
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Mail/Analytics/RoutingExplainer.php
  backend/app/Mail/Analytics/SubjectPatternNormalizer.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Unit/Mail/Analytics/AnalyticsQueryFactoryTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
  tests/Unit/Mail/Analytics/RoutingExplainerTest.php
  tests/Unit/Mail/Analytics/SubjectPatternNormalizerTest.php
Due: php-compatibility

fix(analytics): harden review findings
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Analytics/AnalyticsQuery.php
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Mail/Analytics/RoutingExplainer.php
  backend/app/Mail/Analytics/SubjectPatternNormalizer.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Unit/Mail/Analytics/AnalyticsQueryFactoryTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
  tests/Unit/Mail/Analytics/RoutingExplainerTest.php
  tests/Unit/Mail/Analytics/SubjectPatternNormalizerTest.php
Due: php-compatibility

fix(analytics): count missing recipients as zero
  backend/app/HTTP/Services/LogService.php
  tests/Integration/LogServiceResendDeliveryTest.php
Due: php-compatibility

feat(abilities): expose email analytics
  .superpowers/sdd/2026-08-09-email-analytics-abilities-plan/task-4-report.md
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/app/Mail/Abilities/AbilitySchemas.php
  backend/app/Plugin.php
  phpstan-baseline.neon
  tests/Integration/AbilitiesExecutionTest.php
  tests/Integration/AbilitiesRegistrationTest.php
  tests/Unit/Mail/Abilities/AbilitySchemasTest.php
  tests/bootstrap-integration.php
Due: php-compatibility

chore: relocate agent task report
  .superpowers/sdd/2026-08-09-email-analytics-abilities-plan/task-4-report.md
Due: none

feat(analytics): add local timing insights
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Abilities/AbilitySchemas.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  tests/Integration/AbilitiesExecutionTest.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Unit/HTTP/Services/LogServiceTest.php
  tests/Unit/Mail/Abilities/AbilitySchemasTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
Due: php-compatibility

fix(analytics): store timestamps in UTC
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Abilities/AbilitySchemas.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Unit/Mail/Abilities/AbilitySchemasTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
Due: php-compatibility

fix(analytics): preserve timing uncertainty
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Abilities/AbilitySchemas.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Model/Log.php
  backend/app/Plugin.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Unit/HTTP/Services/LogServiceTest.php
  tests/Unit/Mail/Abilities/AbilitySchemasTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
Due: php-compatibility

test(abilities): verify analytics contracts
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/changeLogs.ts
  readme.txt
  tests/Integration/AbilitiesRestApiTest.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/MailAnalyticsPerformanceTest.php
Due: php-compatibility, ts-lint, ts-check

fix(analytics): harden abilities contracts
  backend/app/Config.php
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  readme.txt
  tests/Integration/AbilitiesRestApiTest.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/MailAnalyticsPerformanceTest.php
  tests/Unit/Mail/Analytics/AnalyticsQueryFactoryTest.php
Due: php-compatibility

test(analytics): cover selective index plan
  tests/Integration/MailAnalyticsPerformanceTest.php
Due: none

fix(analytics): harden delivery evidence
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/app/Mail/Abilities/AbilitySchemas.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Mail/Analytics/RoutingExplainer.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  readme.txt
  tests/Integration/AbilitiesExecutionTest.php
  tests/Integration/AbilitiesRestApiTest.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/MailAnalyticsRepositoryTest.php
  tests/Integration/WpMailRoutingTest.php
  tests/Unit/Mail/Abilities/AbilitySchemasTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
  tests/Unit/Mail/Analytics/RoutingExplainerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesProviderTest.php
Due: php-compatibility

fix(logs): purge orphan delivery events
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Providers/InstallerProvider.php
  backend/db/Migrations/BitSmtpCleanupOrphanDeliveryEvents.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogServiceDeliveryCleanupTest.php
Due: php-compatibility

perf(logs): batch retention event cleanup
  backend/app/HTTP/Services/LogService.php
  tests/Integration/LogServiceDeliveryCleanupTest.php
Due: php-compatibility

fix(connections): hide eye toggle on saved client secret
  frontend/src/pages/Connections/fields/MaskedPasswordField.test.tsx
  frontend/src/pages/Connections/fields/MaskedPasswordField.tsx
Due: ts-lint, ts-check, test

fix(connections): keep test-result panel out of sticky action bar
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/ConnectionTestButton.test.tsx
  frontend/src/pages/Connections/ConnectionTestButton.tsx
Due: ts-lint, ts-check, test

fix(logs): match mail body preview text color to theme
  frontend/src/pages/Logs/ui/EmailPreviewer.test.tsx
  frontend/src/pages/Logs/ui/EmailPreviewer.tsx
  frontend/src/pages/Logs/ui/tabs/MailBodyTab.tsx
Due: ts-lint, ts-check, test

fix(logs): add sender column and bump db_version to 2.0
  backend/app/Config.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/AnalyticsLogMigrationTest.php
Due: php-compatibility

fix(logs): capture connection sender into log rows
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/SenderFormatter.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Model/Log.php
  tests/Integration/LogSenderPersistenceTest.php
  tests/Unit/Mail/Dispatch/SenderFormatterTest.php
Due: php-compatibility

fix(logs): render sender in email log details
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.test.tsx
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.tsx
Due: ts-lint, ts-check, test

fix(logs): stop sanitize_text_field from stripping the sender's bracket
  backend/app/HTTP/Services/LogService.php
Due: php-compatibility

fix(logs): pin and harden sender control-char sanitization
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/SenderFormatter.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Unit/Mail/Dispatch/SenderFormatterTest.php
Due: php-compatibility

feat(routing): drag-and-drop reorder routing rules
  frontend/src/pages/Routing/RoutingRuleRow.tsx
  frontend/src/pages/Routing/RoutingRulesPage.test.tsx
  frontend/src/pages/Routing/RoutingRulesPage.tsx
Due: ts-lint, ts-check, test

feat(oauth): create a draft connection on Connect instead of requiring an explicit Save first
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/OAuthConnectButton.test.tsx
  frontend/src/pages/Connections/OAuthConnectButton.tsx
Due: ts-lint, ts-check, test

fix(connections): return the minted connection id from the save response
  backend/app/HTTP/Controllers/ConnectionController.php
  tests/Golden/__snapshots__/rest_connection_save_response.json
  tests/Integration/ConnectionValidationTest.php
Due: php-compatibility

refactor(logs): guard sender update and tidy review nits
  backend/app/HTTP/Services/LogService.php
  frontend/src/pages/Connections/fields/MaskedPasswordField.tsx
  frontend/src/pages/Routing/RoutingRulesPage.tsx
  tests/Integration/LogServiceResendDeliveryTest.php
Due: php-compatibility, ts-lint, ts-check

refactor(connections): dedupe draft payload, memoize mail body, drop test-result effect
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/ConnectionTestButton.test.tsx
  frontend/src/pages/Connections/ConnectionTestButton.tsx
  frontend/src/pages/Logs/ui/tabs/MailBodyTab.tsx
Due: ts-lint, ts-check, test

fix(delivery): stamp send-time ACCEPTED as a floor for API providers (#35)
  backend/app/Mail/Dispatch/WpMailBridge.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility

test(dispatch): lock in a provider's own accept-status wins over the #35 floor
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: none

test(webhook): confirm delivered/bounced webhooks supersede the #35 ACCEPTED floor
  tests/Integration/SendGridSendTest.php
  tests/Integration/Webhook/WebhookControllerTest.php
Due: none

refactor(delivery): collapse the redundant accepted-status branch (#35)
  backend/app/Mail/Dispatch/WpMailBridge.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility

feat(webhook): record 'registered' provisioning outcome on successful auto-provision
  backend/app/HTTP/Services/WebhookProvisioningService.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Connections/Connection.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Connections/ConnectionTest.php
Due: php-compatibility

feat(webhook): record 'failed' provisioning outcome with a redacted reason
  backend/app/HTTP/Services/WebhookProvisioningService.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
Due: php-compatibility

feat(webhook): record 'unsupported' outcome for providers with no auto-provisioner
  backend/app/HTTP/Services/WebhookProvisioningService.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
Due: php-compatibility

feat(webhook): record 'unavailable' outcome when the site has no public HTTPS URL
  backend/app/HTTP/Services/WebhookProvisioningService.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
Due: php-compatibility

feat(webhook): serialize the webhook_provisioning outcome for connections
  backend/app/Mail/Config/MailSettingsSerializer.php
  tests/Unit/Mail/Config/MailSettingsSerializerTest.php
Due: php-compatibility

fix(webhook): close the client-spoofable webhook_provisioning_status hole
  backend/app/HTTP/Services/MailConfigService.php
  tests/Golden/__snapshots__/rest_api_settings.json
  tests/Integration/MailConfigServiceTest.php
Due: php-compatibility

fix(webhook): block provider-swap staging of a forged provisioning status
  backend/app/HTTP/Services/MailConfigService.php
  tests/Integration/MailConfigServiceTest.php
Due: php-compatibility

fix(webhook): scrub bearer tokens and long keys from the provisioning reason
  backend/app/HTTP/Services/WebhookProvisioningService.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
Due: php-compatibility

feat(connections): show webhook provisioning health + non-public-site notice (#35)
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/types.ts
Due: ts-lint, ts-check, test
