Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

php-lint:
  run: pnpm lint:php {staged_files}

php-compatibility:
  run: pnpm compat {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts-check

test:
  run: pnpm test

feat(routing): plugin picker for Source plugin condition
  AGENTS.md
  CLAUDE.md
  backend/app/HTTP/Controllers/MailSourceController.php
  backend/app/Mail/Analytics/MailAnalyticsRepository.php
  backend/app/Mail/Routing/MailSourceLabeler.php
  backend/hooks/api.php
  frontend/src/pages/Routing/ConditionEditor.test.tsx
  frontend/src/pages/Routing/ConditionEditor.tsx
  frontend/src/pages/Routing/RoutingRuleRow.test.tsx
  frontend/src/pages/Routing/RoutingRuleRow.tsx
  frontend/src/pages/Routing/RoutingRulesPage.test.tsx
  frontend/src/pages/Routing/RoutingRulesPage.tsx
  frontend/src/pages/Routing/data/useMailSources.test.tsx
  frontend/src/pages/Routing/data/useMailSources.ts
  frontend/src/pages/Routing/types.ts
  tests/Integration/MailSourceControllerTest.php
  tests/Unit/Mail/Routing/MailSourceLabelerTest.php
Due: php-compatibility, ts-lint, ts-check, test

no-mistakes(document): correct stale route and controller paths in AGENTS.md
  AGENTS.md
Due: none

no-mistakes(document): correct stale middleware path in AGENTS.md example
  AGENTS.md
Due: none

no-mistakes: apply CI fixes
  backend/app/HTTP/Controllers/ConnectionController.php
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/HTTP/OAuth/OAuthCallbackRouter.php
  backend/app/HTTP/Services/WebhookProvisioningService.php
  backend/app/Mail/Auth/AbstractAuthStrategy.php
  backend/app/Mail/Auth/AuthorizationResolver.php
  backend/app/Mail/Auth/AwsSigV4Strategy.php
  backend/app/Mail/Aws/SigV4Signer.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Connections/Connection.php
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Descriptor/ProviderDescriptor.php
  backend/app/Mail/Message/MimeBuilder.php
  backend/app/Mail/Notifications/Channels/SlackFailureNotificationChannel.php
  backend/app/Mail/Notifications/FailureNotificationMessage.php
  backend/app/Mail/OAuth/OAuth2TokenProvider.php
  backend/app/Mail/Providers/AbstractWebhookProvisioner.php
  backend/app/Mail/Providers/Mailgun/MailgunWebhookService.php
  backend/app/Mail/Providers/ProviderRegistry.php
  backend/app/Mail/Providers/SendGrid/SendGridTransport.php
  backend/app/Mail/Providers/SparkPost/SparkPostWebhookService.php
  backend/app/Mail/Support/AddressFormatter.php
  backend/app/Mail/Support/AttachmentBuilder.php
  backend/app/Mail/Support/MultipartEncoder.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  readme.txt
  tests/BaseUnitTestCase.php
Due: php-compatibility

ci(test-all): add PR trigger for feature bases and dynamic PHP matrix
  .github/workflows/test-all.yml
Due: none

no-mistakes: apply CI fixes
  bin/pot-to-php.js
  composer.json
  composer.lock
Due: ts-lint

fix(mail): resolve From/Reply-To via SenderResolver in raw-MIME builder
  backend/app/Mail/Message/MimeBuilder.php
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  backend/app/Mail/Providers/Gmail/GmailTransport.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Transport.php
  tests/Integration/MimeBuilderTest.php
  tests/Unit/Mail/Message/MimeBuilderTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
  tests/Unit/Mail/Providers/Gmail/GmailTransportTest.php
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365TransportTest.php
Due: php-compatibility

build(deps): bump wp-kit to include container/settings/cron/cache
  composer.json
  composer.lock
  tests/Unit/DepsScopingTest.php
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
  tests/Unit/Mail/Http/ApiClientTest.php
Due: none

feat(settings): plugin preferences schema
  backend/app/Settings/PluginSettings.php
  tests/Unit/Settings/PluginSettingsTest.php
Due: php-compatibility

refactor(plugin): adopt wp-kit container + service providers
  backend/app/Plugin.php
  backend/app/Providers/AbilitiesServiceProvider.php
  backend/app/Providers/CoreServiceProvider.php
  backend/app/Providers/HttpServiceProvider.php
  backend/app/Providers/InstallerServiceProvider.php
  backend/app/Providers/MailServiceProvider.php
  backend/app/Providers/NotificationServiceProvider.php
  phpstan-baseline.neon
  tests/Unit/Container/ServiceWiringTest.php
Due: php-compatibility

feat(settings): seed from legacy options
  backend/app/Config.php
  backend/app/Providers/InstallerProvider.php
  backend/db/Migrations/BitSmtpSettingsSeed.php
  tests/Unit/Settings/SettingsSeedTest.php
Due: php-compatibility

refactor(settings): read logging/retention from preferences store
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Settings/PluginSettings.php
  tests/Unit/Settings/ReaderMigrationTest.php
Due: php-compatibility

fix(settings): write logging/retention toggles through to preferences store
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Settings/PluginSettings.php
  tests/Unit/Settings/ReaderMigrationTest.php
Due: php-compatibility

feat(settings): preferences REST endpoints
  backend/app/HTTP/Controllers/PreferencesController.php
  backend/app/HTTP/Requests/Rules/InRule.php
  backend/app/HTTP/Requests/SavePreferencesRequest.php
  backend/hooks/api.php
  tests/Unit/HTTP/PreferencesControllerTest.php
Due: php-compatibility

fix(settings): round-trip preferences export/import
  backend/app/HTTP/Controllers/PreferencesController.php
  tests/Unit/HTTP/Controllers/PreferencesControllerTest.php
Due: php-compatibility

feat(ui): settings/preferences page
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/data/usePreferences.test.tsx
  frontend/src/pages/Settings/data/usePreferences.ts
  frontend/src/pages/Settings/sections/GeneralLogging.tsx
  frontend/src/pages/Settings/sections/HealthNotifications.tsx
  frontend/src/pages/Settings/sections/PrivacyData.tsx
  frontend/src/pages/Settings/sections/Reliability.tsx
  frontend/src/pages/Settings/types.ts
Due: ts-lint, ts-check, test

feat(logs): scheduled retention cleanup
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Providers/CoreServiceProvider.php
  backend/app/Providers/InstallerProvider.php
  tests/Golden/Support/WpStubs.php
  tests/Unit/Cron/RetentionCronTest.php
Due: php-compatibility

feat(mail): configurable send timeout
  backend/app/Mail/Transport/SmtpTransport.php
  backend/app/Providers/MailServiceProvider.php
  tests/Integration/SmtpTransportTest.php
  tests/Unit/Container/ServiceWiringTest.php
  tests/Unit/Mail/TimeoutTest.php
Due: php-compatibility

fix(uninstall): purge all plugin options incl. credentials
  backend/db/Migrations/BitSmtpPluginOptions.php
  tests/Unit/Uninstall/PurgeTest.php
Due: php-compatibility

perf(analytics): cache overview via wp-kit cache
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Providers/AbilitiesServiceProvider.php
  tests/Unit/Mail/Analytics/AnalyticsCacheTest.php
Due: php-compatibility

fix(analytics): never cache overview WP_Error results
  backend/app/Mail/Analytics/MailAnalyticsService.php
  tests/Unit/Mail/Analytics/AnalyticsCacheTest.php
Due: php-compatibility

chore: finalize architecture foundation + settings
  .prettierignore
  AGENTS.md
  backend/app/HTTP/Controllers/PreferencesController.php
  backend/app/HTTP/Requests/Rules/InRule.php
  backend/app/HTTP/Requests/SavePreferencesRequest.php
  phpstan-baseline.neon
  tests/Integration/AbilitiesRestApiTest.php
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/Golden/RestBodyGoldenTest.php
  tests/Integration/IntegrationTestCase.php
Due: php-compatibility

fix: unify logging-toggle write-path + honor uninstall_purge for logs/prefs
  backend/app/HTTP/Controllers/PreferencesController.php
  backend/app/Settings/UninstallPurge.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  backend/db/Migrations/BitSmtpPluginOptions.php
  backend/db/Migrations/BitSmtpSettingsSeed.php
  tests/Unit/HTTP/Controllers/PreferencesControllerTest.php
  tests/Unit/Uninstall/PurgeTest.php
Due: php-compatibility

feat(ui): tabbed settings with integrated notifications
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Notifications/NotificationsPage.tsx
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/components/SettingsPanel.module.css
  frontend/src/pages/Settings/components/SettingsPanel.tsx
  frontend/src/pages/Settings/components/TabLabel.tsx
  frontend/src/pages/Settings/data/useTestNotification.test.tsx
  frontend/src/pages/Settings/data/useTestNotification.ts
  frontend/src/pages/Settings/sections/GeneralLogging.tsx
  frontend/src/pages/Settings/sections/Health.tsx
  frontend/src/pages/Settings/sections/HealthNotifications.tsx
  frontend/src/pages/Settings/sections/NotificationsChannels.test.tsx
  frontend/src/pages/Settings/sections/NotificationsChannels.tsx
  frontend/src/pages/Settings/sections/PrivacyData.tsx
  frontend/src/pages/Settings/sections/Reliability.tsx
  frontend/src/pages/Settings/utils/valuesEqual.ts
Due: style-lint, ts-lint, ts-check, test

feat(ui): polish settings layout + status strip
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/components/SettingsPanel.module.css
  frontend/src/pages/Settings/components/SettingsPanel.tsx
  frontend/src/pages/Settings/components/StatusStrip.module.css
  frontend/src/pages/Settings/components/StatusStrip.tsx
  frontend/src/pages/Settings/components/TabLabel.tsx
Due: style-lint, ts-lint, ts-check, test

refactor(ui): simplify settings polish + add coverage
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/components/SettingsPanel.module.css
  frontend/src/pages/Settings/components/SettingsPanel.tsx
  frontend/src/pages/Settings/components/StatusStrip.test.tsx
  frontend/src/pages/Settings/components/TabLabel.test.tsx
Due: style-lint, ts-lint, ts-check, test

fix(ui): settings dots/logging chip reflect saved state
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
Due: ts-lint, ts-check, test

feat(analytics): add REST endpoints for dashboard
  backend/app/HTTP/Controllers/AnalyticsController.php
  backend/app/Mail/Abilities/AbilitiesProvider.php
  backend/app/Providers/AbilitiesServiceProvider.php
  backend/app/Providers/CoreServiceProvider.php
  backend/hooks/api.php
  tests/Unit/HTTP/Controllers/AnalyticsControllerTest.php
Due: php-compatibility

refactor(analytics): simplify controller + expand tests
  tests/Unit/HTTP/Controllers/AnalyticsControllerTest.php
Due: none

feat(ui): analytics dashboard
  .gitignore
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Analytics/AnalyticsFilters.tsx
  frontend/src/pages/Analytics/AnalyticsPage.module.css
  frontend/src/pages/Analytics/AnalyticsPage.test.tsx
  frontend/src/pages/Analytics/AnalyticsPage.tsx
  frontend/src/pages/Analytics/anomalies.test.ts
  frontend/src/pages/Analytics/anomalies.ts
  frontend/src/pages/Analytics/data/useAnalytics.test.tsx
  frontend/src/pages/Analytics/data/useAnalytics.ts
  frontend/src/pages/Analytics/format.ts
  frontend/src/pages/Analytics/hooks/usePrefersReducedMotion.ts
  frontend/src/pages/Analytics/palette.ts
  frontend/src/pages/Analytics/types.ts
  frontend/src/pages/Analytics/ui/AnomaliesList.module.css
  frontend/src/pages/Analytics/ui/AnomaliesList.tsx
  frontend/src/pages/Analytics/ui/BusiestHours.tsx
  frontend/src/pages/Analytics/ui/ChartCard.tsx
  frontend/src/pages/Analytics/ui/ChartLegend.tsx
  frontend/src/pages/Analytics/ui/ChartTooltip.tsx
  frontend/src/pages/Analytics/ui/DataTable.tsx
  frontend/src/pages/Analytics/ui/DeliveryBreakdown.tsx
  frontend/src/pages/Analytics/ui/EmptyStates.tsx
  frontend/src/pages/Analytics/ui/Sparkline.tsx
  frontend/src/pages/Analytics/ui/StatTiles.module.css
  frontend/src/pages/Analytics/ui/StatTiles.tsx
  frontend/src/pages/Analytics/ui/TopList.tsx
  frontend/src/pages/Analytics/ui/VolumeChart.tsx
  frontend/src/pages/Layout/Header.tsx
  package.json
  pnpm-lock.yaml
Due: style-lint, ts-lint, ts-check, test

refactor(ui): harden dashboard types + simplify + cover
  frontend/src/pages/Analytics/AnalyticsPage.test.tsx
  frontend/src/pages/Analytics/anomalies.test.ts
  frontend/src/pages/Analytics/ui/AnomaliesList.test.tsx
  frontend/src/pages/Analytics/ui/BusiestHours.tsx
  frontend/src/pages/Analytics/ui/ChartCard.tsx
  frontend/src/pages/Analytics/ui/VolumeChart.tsx
  frontend/src/pages/Analytics/ui/chartConfig.tsx
Due: ts-lint, ts-check, test

fix(ui): dashboard error states + anomaly formatting
  frontend/src/pages/Analytics/AnalyticsPage.test.tsx
  frontend/src/pages/Analytics/AnalyticsPage.tsx
  frontend/src/pages/Analytics/anomalies.test.ts
  frontend/src/pages/Analytics/anomalies.ts
  frontend/src/pages/Analytics/data/useAnalytics.test.tsx
  frontend/src/pages/Analytics/data/useAnalytics.ts
  frontend/src/pages/Analytics/ui/AnomaliesList.test.tsx
  frontend/src/pages/Analytics/ui/AnomaliesList.tsx
  frontend/src/pages/Analytics/ui/EmptyStates.tsx
  frontend/src/pages/Analytics/ui/StatTiles.test.tsx
  frontend/src/pages/Analytics/ui/StatTiles.tsx
Due: ts-lint, ts-check, test

fix(analytics): accept fractional-second ISO-8601 timestamps
  backend/app/Mail/Analytics/AnalyticsQueryFactory.php
  tests/Unit/Mail/Analytics/AnalyticsQueryFactoryTest.php
Due: php-compatibility

fix(ui): default analytics range within retention window
  frontend/src/pages/Analytics/AnalyticsFilters.tsx
  frontend/src/pages/Analytics/AnalyticsPage.test.tsx
  frontend/src/pages/Analytics/AnalyticsPage.tsx
Due: ts-lint, ts-check, test

feat(reliability): failure classification + P0 notifier/log fixes
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/FailureCategory.php
  backend/app/Mail/Dispatch/FailureClassifier.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Notifications/FailureNotifier.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/tabs/DeliveryStatusTab.tsx
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogFailureClassPersistenceTest.php
  tests/Integration/WpMailFallbackTest.php
  tests/Unit/Mail/Dispatch/FailureClassifierTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Notifications/FailureNotifierTest.php
Due: php-compatibility, ts-lint, ts-check

feat(reliability): retry engine + queue admin panel
  backend/app/Config.php
  backend/app/HTTP/Controllers/RetryController.php
  backend/app/Mail/Dispatch/RetryQueue.php
  backend/app/Mail/Dispatch/RetryWorker.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Providers/CoreServiceProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/app/Settings/PluginSettings.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  backend/db/Migrations/BitSmtpPluginOptions.php
  backend/db/Migrations/BitSmtpRetryQueueMigration.php
  backend/hooks/api.php
  frontend/src/common/helpers/datetime.ts
  frontend/src/common/helpers/i18nwrap.ts
  frontend/src/pages/Logs/data/failureClass.ts
  frontend/src/pages/Logs/ui/tabs/DeliveryStatusTab.tsx
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.tsx
  frontend/src/pages/Settings/data/useFlushRetryQueue.ts
  frontend/src/pages/Settings/data/usePreferences.test.tsx
  frontend/src/pages/Settings/data/usePreferences.ts
  frontend/src/pages/Settings/data/useRetryQueue.test.tsx
  frontend/src/pages/Settings/data/useRetryQueue.ts
  frontend/src/pages/Settings/sections/Reliability.tsx
  frontend/src/pages/Settings/sections/RetryQueuePanel.test.tsx
  frontend/src/pages/Settings/sections/RetryQueuePanel.tsx
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/RetryControllerTest.php
  tests/Integration/RetryQueueEndToEndTest.php
  tests/Integration/RetryQueueMigrationTest.php
  tests/Integration/RetryQueueTest.php
  tests/Unit/Cron/RetentionCronTest.php
  tests/Unit/Cron/RetryCronTest.php
  tests/Unit/Mail/Dispatch/RetryWorkerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Uninstall/PurgeTest.php
Due: php-compatibility, ts-lint, ts-check, test

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.{php}
  php-compatibility: any of: backend/**/*.php
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
