Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility, ts-lint, ts-check, test

lefthook.yml:

pre-commit:
  # piped: true
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm lint:css {staged_files}
    php-lint:
      glob: '*.{php}'
      run: pnpm lint:php {staged_files}
    php-test:
      glob: '*{php}'
      run: pnpm test:php {staged_files}
    php-compatibility:
      glob: 'backend/**/*.php'
      run: pnpm compat {staged_files}
    ts-lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint
    pretty:
      run: pnpm pretty:quick
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check
    test:
      glob: '*.test.{js,ts,jsx,tsx}'
      run: pnpm test

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}

chore : issue fixed
  backend/app/Config.php
  frontend/src/pages/Homepage/SMTP.module.css
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/MailSendTest/MailSendTest.module.css
  frontend/src/pages/Others/Others.module.css
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/img/bitAssist.svg
  frontend/src/resource/img/bitFileManager.svg
  frontend/src/resource/img/bitForm.svg
  frontend/src/resource/img/bitIntegrations.svg
  frontend/src/resource/img/bitSocial.svg
  frontend/src/resource/styles/global.css
  package.json
  vite.config.mts
  vite.config.ts
  vite.config.wp.ts
Due: style-lint, php-compatibility, ts-lint, ts-check

chore : unused coded removed
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Services/App.php
  backend/app/HTTP/Services/ContentGenerationService.php
  backend/app/HTTP/Services/PostGeneratorService.php
  backend/app/Model/Platform.php
Due: php-compatibility

chore : Mail send tested
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/MailTestRequest.php
  backend/app/Plugin.php
  backend/hooks/ajax.php
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
Due: php-compatibility, ts-lint, ts-check

chore : spin component added on mailtest button
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
Due: ts-lint, ts-check

Update SMTPController.php
  backend/app/HTTP/Controllers/SMTPController.php
Due: php-compatibility

Update package.json
  package.json
Due: none

fix: nonce issue
  backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
Due: php-compatibility

fix: custom message issue
  backend/app/HTTP/Requests/MailTestRequest.php
Due: php-compatibility

fix: class constants are not supported in PHP 7.0 or earlier
  backend/app/Views/Layout.php
Due: php-compatibility

refactor: remove unused migration file
  backend/db/Migrations/BMIIntegrationCategoriesMigration.php
  backend/db/Migrations/BMIIntegrationDetailsMigration.php
  backend/db/Migrations/BMIPlatformsMigration.php
Due: php-compatibility

fix: namespace issue
  backend/db/Migrations/BMIPluginOptions.php
Due: php-compatibility

chore: updated composer
  composer.json
Due: none

fix: validation request issue
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/HTTP/Requests/MailTestRequest.php
Due: php-compatibility

refactor: code improvement
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/Plugin.php
  backend/app/Providers/HookProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/app/Views/Layout.php
  backend/db/Migrations/BSPluginOptions.php
Due: php-compatibility

Update readme.txt
  readme.txt
Due: none

chore : .distignore file added
  .distignore
Due: none

chore: main file renamed to bit_smtp.php
  bit_smtp.php
Due: none

chore: php version updated to 7.4
  backend/app/Config.php
  composer.json
  lefthook.yml
  readme.txt
Due: php-compatibility

chore: bin folder added to .distignore
  .distignore
Due: none

chore: update .distignore
  .distignore
Due: none

chore: production script addded
  .distignore
  .gitignore
  backend/app/Views/Layout.php
  bin/pot-to-php.js
  composer.json
  gettext-parser.config.js
  package.json
Due: php-compatibility, ts-lint

fix: eslint and typescript error, warning fixed
  backend/app/Views/Layout.php
  composer.lock
  frontend/src/AppRoutes.tsx
  frontend/src/Utils/StaticData/PostContentTemplate.js
  frontend/src/Utils/globalHelpers.js
  frontend/src/common/helpers/i18nwrap.ts
  frontend/src/common/helpers/request.ts
  frontend/src/components/Button/Button.module.css
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Button/Index.ts
  frontend/src/components/Input/Input.tsx
  frontend/src/components/Post/ContentManage.tsx
  frontend/src/components/Post/ContentManageCss.module.css
  frontend/src/components/Post/GeneratePost.tsx
  frontend/src/components/Post/NewPlatformPost.tsx
  frontend/src/components/utilities/TinyMCE.tsx
  frontend/src/main.tsx
  frontend/src/pages/AllIntegrations/AllIntegrations.module.css
  frontend/src/pages/AllIntegrations/AllIntegrations.tsx
  frontend/src/pages/AllIntegrations/index.ts
  frontend/src/pages/Error404/Error404.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/MailSendTest/MailSendTest.module.css
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/Others/Others.tsx
  frontend/src/resource/styles/global.css
  frontend/src/resource/utilsCssInJs.ts
  package.json
Due: style-lint, php-compatibility, ts-lint, ts-check

chore: root url issue fixed
  backend/app/Views/Layout.php
Due: php-compatibility

chore: cs-fixer formatting
  .gitignore
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/HTTP/Requests/MailTestRequest.php
  backend/app/Plugin.php
  backend/app/Providers/HookProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/hooks/ajax.php
Due: php-compatibility

chore: pnpm lockfile added
  .gitignore
  frontend/src/components/Button/Button.module.css
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/resource/styles/utilities.css
  pnpm-lock.yaml
Due: style-lint

chore: namespace updated
  backend/app/Plugin.php
Due: php-compatibility

chore: version updated
  bit_smtp.php
  readme.txt
Due: none

chore: sidebar logo addedd & description updated
  backend/app/Config.php
  bit_smtp.php
Due: php-compatibility

chore: minor changes
  package.json
Due: none

chore: updated config.php
  backend/app/Config.php
Due: php-compatibility

chore: smtp debug enable/disable option added
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/Providers/HookProvider.php
  frontend/src/pages/Homepage/SMTP.tsx
Due: php-compatibility, ts-lint, ts-check

chore: minor changes
  backend/app/Providers/HookProvider.php
  frontend/src/pages/Homepage/SMTP.tsx
Due: php-compatibility, ts-lint, ts-check

style: frontend issues fixed
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/MailSendTest/MailSendTest.tsx
Due: style-lint, ts-lint, ts-check

chore: readme updated
  readme.txt
Due: none

fix: namespace conflict issue fixed
  .gitignore
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
  backend/app/HTTP/Requests/MailConfigStoreRequest.php
  backend/app/HTTP/Requests/MailTestRequest.php
  backend/app/Plugin.php
  backend/app/Providers/HookProvider.php
  backend/app/Providers/InstallerProvider.php
  backend/app/Views/Layout.php
  backend/db/Migrations/BSPluginOptions.php
  backend/hooks/ajax.php
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
Due: php-compatibility

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Due: none
