Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

lefthook.yml:

pre-commit:
  # piped: true
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm lint:css {staged_files}
    php-lint:
      glob: '*.{php}'
      run: pnpm lint:php {staged_files}

    php-compatibility:
      glob: 'backend/**/*.php'
      run: pnpm compat {staged_files}
    ts-lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint
    pretty:
      run: pnpm pretty:quick
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check
    test:
      glob: '*.test.{js,ts,jsx,tsx}'
      run: pnpm test

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}
github-actions:
  parallel: true
  commands:
    lint:
      run: pnpm eslint frontend
    lint-css:
      run: pnpm lint:css
    lint-php:
      run: composer lint
    php-compatibility-check:
      run: composer compat
    prettier:
      run: pnpm pretty:fix
    # test-js:
    #   run: pnpm test
    ts-check:
      run: pnpm ts-check

feat(hardening): multisite subsite provisioning + engagement caching
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Mail/Webhook/Signatures/WebhookSignatureVerifierFactory.php
  backend/app/Providers/InstallerProvider.php
  tests/Unit/Mail/Analytics/AnalyticsCacheTest.php
  tests/Unit/Providers/InstallerProviderTest.php
  tests/bootstrap-unit.php
  tests/stubs/WP_Site.php
Due: php-compatibility

refactor(installer): delegate multisite provisioning to wp-kit
  backend/app/Providers/InstallerProvider.php
  composer.json
  composer.lock
  tests/Unit/Providers/InstallerProviderTest.php
  tests/bootstrap-unit.php
  tests/stubs/WP_Site.php
Due: php-compatibility

fix(routing): constrain condition operators by field
  backend/app/HTTP/Requests/MailSettingsSaveRequest.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  frontend/src/pages/Routing/ConditionEditor.test.tsx
  frontend/src/pages/Routing/ConditionEditor.tsx
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(logs): capture cc/bcc recipients and the SMTP message-id
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Transport/SmtpTransport.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.test.tsx
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.tsx
  tests/Integration/AnalyticsLogMigrationTest.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/SmtpTransportTest.php
  tests/Integration/WpMailBridgeTest.php
Due: php-compatibility, ts-lint, ts-check, test

fix(logs): complete From/Cc/Bcc capture, honor body storage, export cc/bcc
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Services/LogBodyRedactor.php
  backend/app/HTTP/Services/LogCsvExporter.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/SendContext.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  tests/Integration/LogBodyStorageTest.php
  tests/Integration/NativeMailLoggingTest.php
  tests/Integration/ResendHistoryTest.php
  tests/Unit/CLI/LogCsvExporterTest.php
  tests/Unit/HTTP/Services/LogBodyRedactorTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility

feat(notifications): wire health/OAuth alert subscriptions
  backend/app/HTTP/Requests/Rules/EachInRule.php
  backend/app/HTTP/Requests/SavePreferencesRequest.php
  backend/app/Mail/Notifications/HealthNotification.php
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/sections/Health.test.tsx
  frontend/src/pages/Settings/sections/Health.tsx
  frontend/src/pages/Settings/sections/NotificationsChannels.test.tsx
  frontend/src/pages/Settings/sections/NotificationsChannels.tsx
  frontend/src/pages/Settings/types.ts
  tests/Unit/HTTP/Controllers/PreferencesControllerTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(connections): enable/disable toggle, safer OAuth and delete lifecycle
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Connections/ConnectionAuthorization.php
  backend/app/Mail/Providers/ProviderRegistry.php
  frontend/src/pages/Connections/ConnectionCard.test.tsx
  frontend/src/pages/Connections/ConnectionCard.tsx
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/ConnectionsListPage.test.tsx
  frontend/src/pages/Connections/ConnectionsListPage.tsx
  frontend/src/pages/Connections/OAuthConnectButton.test.tsx
  frontend/src/pages/Connections/OAuthConnectButton.tsx
  frontend/src/pages/Connections/data/useToggleConnectionEnabled.test.tsx
  frontend/src/pages/Connections/data/useToggleConnectionEnabled.ts
  tests/Integration/ConnectionHealthPersistenceTest.php
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Connections/ConnectionAuthorizationTest.php
  tests/Unit/Mail/Providers/ProviderRegistryTest.php
Due: php-compatibility, ts-lint, ts-check, test

fix(ui, import): render unique clicks, mask alert secrets, import reply-to
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Import/WpMailSmtpImporter.php
  frontend/src/pages/Analytics/ui/EngagementMetrics.test.tsx
  frontend/src/pages/Analytics/ui/EngagementMetrics.tsx
  frontend/src/pages/Connections/fields/MaskedPasswordField.tsx
  frontend/src/pages/Connections/fields/useMaskedSecret.ts
  frontend/src/pages/Settings/sections/NotificationChannelFields.tsx
  frontend/src/pages/Settings/sections/NotificationsChannels.test.tsx
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Import/WpMailSmtpImporterTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(connections): add OAuth disconnect that clears tokens without deleting
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Connections/ConnectionAuthorization.php
  backend/hooks/api.php
  frontend/src/pages/Connections/OAuthConnectButton.test.tsx
  frontend/src/pages/Connections/OAuthConnectButton.tsx
  frontend/src/pages/Connections/data/useOAuthDisconnect.ts
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/HTTP/Controllers/OAuthControllerTest.php
Due: php-compatibility, ts-lint, ts-check, test

refactor(providers): remove dead deliveryStatusOnAccept from the contract
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Provider.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  backend/app/Mail/Providers/PhpSendmail/PhpSendmailProvider.php
  backend/app/Mail/Providers/SendGrid/SendGridProvider.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesProviderTest.php
  tests/Unit/Mail/Providers/PhpSendmail/PhpSendmailProviderTest.php
Due: php-compatibility

fix(routing): clarify the recipient condition matches the To address only
  frontend/src/pages/Routing/ConditionEditor.test.tsx
  frontend/src/pages/Routing/ConditionEditor.tsx
Due: ts-lint, ts-check, test

feat(reliability): honor retry_on_classes to filter which failures retry
  backend/app/HTTP/Requests/SavePreferencesRequest.php
  backend/app/Mail/Dispatch/FailureCategory.php
  backend/app/Mail/Dispatch/RetryWorker.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  frontend/src/pages/Settings/SettingsPage.test.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Settings/sections/Health.test.tsx
  frontend/src/pages/Settings/sections/Reliability.test.tsx
  frontend/src/pages/Settings/sections/Reliability.tsx
  frontend/src/pages/Settings/types.ts
  tests/Unit/HTTP/Controllers/PreferencesControllerTest.php
  tests/Unit/Mail/Dispatch/FailureCategoryTest.php
  tests/Unit/Mail/Dispatch/RetryWorkerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(analytics): surface top clicked links and per-message engagement
  backend/app/HTTP/Controllers/LogController.php
  backend/app/Mail/Analytics/EngagementRepository.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  frontend/src/pages/Analytics/AnalyticsPage.test.tsx
  frontend/src/pages/Analytics/types.ts
  frontend/src/pages/Analytics/ui/EngagementMetrics.test.tsx
  frontend/src/pages/Analytics/ui/EngagementMetrics.tsx
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/tabs/DeliveryStatusTab.test.tsx
  frontend/src/pages/Logs/ui/tabs/DeliveryStatusTab.tsx
  tests/Integration/EngagementRepositoryTest.php
  tests/Unit/HTTP/Controllers/AnalyticsControllerTest.php
  tests/Unit/Mail/Analytics/AnalyticsCacheTest.php
  tests/Unit/Mail/Analytics/MailAnalyticsServiceTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(webhooks): deregister the provider-side webhook on connection delete
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/HTTP/Services/WebhookProvisioningService.php
  backend/app/Mail/Contracts/WebhookProvisionerInterface.php
  backend/app/Mail/Providers/AbstractWebhookProvisioner.php
  backend/app/Mail/Providers/Brevo/BrevoWebhookService.php
  backend/app/Mail/Providers/Mailgun/MailgunWebhookService.php
  backend/app/Mail/Providers/Mailjet/MailjetWebhookService.php
  backend/app/Mail/Providers/Postmark/PostmarkWebhookService.php
  backend/app/Mail/Providers/Resend/ResendWebhookService.php
  backend/app/Mail/Providers/SendGrid/SendGridWebhookService.php
  backend/app/Mail/Providers/SparkPost/SparkPostWebhookService.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
  tests/Unit/Mail/Providers/Brevo/BrevoWebhookServiceTest.php
  tests/Unit/Mail/Providers/Mailgun/MailgunWebhookServiceTest.php
  tests/Unit/Mail/Providers/Mailjet/MailjetWebhookServiceTest.php
  tests/Unit/Mail/Providers/Postmark/PostmarkWebhookServiceTest.php
  tests/Unit/Mail/Providers/Resend/ResendWebhookServiceTest.php
  tests/Unit/Mail/Providers/SendGrid/SendGridWebhookServiceTest.php
  tests/Unit/Mail/Providers/SparkPost/SparkPostWebhookServiceTest.php
Due: php-compatibility

feat(webhooks): ingest SES bounce/complaint/delivery via signed SNS
  backend/app/HTTP/Controllers/WebhookController.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Aws/Sns/SnsEndpoint.php
  backend/app/Mail/Aws/Sns/SnsMessage.php
  backend/app/Mail/Aws/Sns/SnsSubscriptionConfirmer.php
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  backend/app/Mail/Webhook/Adapters/SesSnsWebhookAdapter.php
  backend/app/Mail/Webhook/Signatures/SnsSignatureVerifier.php
  backend/app/Mail/Webhook/Signatures/WebhookSignatureVerifierFactory.php
  backend/app/Mail/Webhook/WebhookAdapterFactory.php
  frontend/src/pages/Connections/ConnectionEditor.tsx
  tests/Golden/__snapshots__/provider_metadata.json
  tests/Golden/__snapshots__/rest_provider_registry_metadata.json
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Integration/Webhook/WebhookControllerTest.php
  tests/Unit/Mail/Aws/Sns/SnsEndpointTest.php
  tests/Unit/Mail/Aws/Sns/SnsMessageTest.php
  tests/Unit/Mail/Aws/Sns/SnsSubscriptionConfirmerTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
  tests/Unit/Mail/Webhook/Adapters/SesSnsWebhookAdapterTest.php
  tests/Unit/Mail/Webhook/Signatures/SnsSignatureVerifierTest.php
  tests/Unit/Mail/Webhook/WebhookAdapterFactoryTest.php
Due: php-compatibility, ts-lint, ts-check

refactor: post-review cleanup of the deferred-feature work
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Analytics/MailAnalyticsService.php
  backend/app/Mail/Webhook/WebhookRequest.php
  frontend/src/pages/Analytics/ui/EngagementMetrics.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
Due: php-compatibility, ts-lint, ts-check

feat(microsoft365): surface real send errors and add field help
  backend/app/HTTP/Controllers/ConnectionController.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Provider.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Transport.php
  tests/Golden/__snapshots__/fields_microsoft365.json
  tests/Golden/__snapshots__/provider_metadata.json
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365ProviderTest.php
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365TransportTest.php
Due: php-compatibility

fix(deps): refresh the npm lockfile to clear every Dependabot alert
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
