Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

php-lint:
  run: pnpm lint:php {staged_files}

php-compatibility:
  run: pnpm compat {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts-check

test:
  run: pnpm test

ci: wire PHPStan + confirm golden suite in CI, fix 8.1 matrix leg
  .github/workflows/test-all.yml
  lefthook.yml
Due: none

test: harden compat coverage + fail CI on missing golden snapshot
  composer.json
  phpunit.integration.xml
  phpunit.xml.dist
Due: none

test(e2e): playwright suite for the four core admin flows
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/README.md
  tests/e2e/auth.setup.ts
  tests/e2e/connection-setup.spec.ts
  tests/e2e/delivery-webhook-ui.spec.ts
  tests/e2e/global-teardown.ts
  tests/e2e/helpers.ts
  tests/e2e/notifications.spec.ts
  tests/e2e/send-test.spec.ts
Due: ts-lint, ts-check

fix(webhook): bound Zepto event parsing to prevent quadratic DoS
  backend/app/Mail/Webhook/Adapters/ZeptoWebhookAdapter.php
  tests/Unit/Mail/Webhook/Adapters/ZeptoWebhookAdapterTest.php
Due: php-compatibility

fix(http): disable redirect-following on the API client
  backend/app/Mail/Http/ApiClient.php
Due: php-compatibility

docs(oauth): define static callback routing
  docs/superpowers/specs/2026-07-28-oauth-static-callback-design.md
Due: none

chore: keep local docs untracked
  .gitignore
Due: none

chore: untrack local design docs
  docs/superpowers/specs/2026-07-28-oauth-static-callback-design.md
Due: none

fix(oauth): use static callback URL
  backend/app/Mail/OAuth/OAuthCallbackUrl.php
  composer.json
  composer.lock
  tests/Unit/HTTP/Controllers/OAuthControllerTest.php
  tests/Unit/Mail/OAuth/OAuthCallbackUrlTest.php
  tests/Unit/Mail/Providers/ProviderRegistryTest.php
Due: php-compatibility

feat(oauth): route callback outside REST
  backend/app/HTTP/OAuth/OAuthCallbackRouter.php
  backend/app/HTTP/Webhook/WebhookRouter.php
  backend/app/Providers/HookProvider.php
  backend/hooks/api.php
  backend/hooks/static.php
  tests/Integration/OAuthRouteTest.php
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
Due: php-compatibility

fix(oauth): support subdirectory callbacks
  backend/app/HTTP/OAuth/OAuthCallbackRouter.php
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
Due: php-compatibility

fix(oauth): finalize static callback dispatch
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/HTTP/OAuth/OAuthCallbackRouter.php
  backend/app/Mail/Providers/ProviderRegistry.php
  phpstan-baseline.neon
  tests/Integration/OAuthRouteTest.php
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
Due: php-compatibility

fix(oauth): terminate rejected callbacks
  backend/app/HTTP/OAuth/OAuthCallbackRouter.php
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
Due: php-compatibility

test(oauth): assert callback termination
  tests/Unit/HTTP/OAuth/OAuthCallbackRouterTest.php
Due: none

feat(webhooks): auto-register delivery webhooks on connect
  backend/app/HTTP/Controllers/ConnectionController.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/HTTP/Services/WebhookProvisioningService.php
  backend/app/Mail/Config/PersistedShapes.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Http/ApiClient.php
  backend/app/Mail/Providers/AbstractWebhookProvisioner.php
  backend/app/Mail/Providers/Brevo/BrevoWebhookService.php
  backend/app/Mail/Providers/Mailgun/MailgunWebhookService.php
  backend/app/Mail/Providers/Mailjet/MailjetWebhookService.php
  backend/app/Mail/Providers/Postmark/PostmarkWebhookService.php
  backend/app/Mail/Providers/Resend/ResendWebhookService.php
  backend/app/Mail/Providers/SendGrid/SendGridWebhookService.php
  backend/app/Mail/Providers/SparkPost/SparkPostWebhookService.php
  backend/app/Mail/Providers/WebhookProvisionerFactory.php
  backend/app/Mail/Webhook/WebhookUrl.php
  backend/app/Plugin.php
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/restContract.test.ts
  frontend/src/pages/Connections/types.ts
  frontend/src/pages/__fixtures__/rest-providers.fixture.json
  phpstan-baseline.neon
  readme.txt
  tests/Golden/Support/WpStubs.php
  tests/Golden/__snapshots__/provider_metadata.json
  tests/Golden/__snapshots__/rest_connection_save_response.json
  tests/Golden/__snapshots__/rest_provider_registry_metadata.json
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Unit/HTTP/Services/WebhookProvisioningServiceTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Providers/Brevo/BrevoWebhookServiceTest.php
  tests/Unit/Mail/Providers/Mailgun/MailgunWebhookServiceTest.php
  tests/Unit/Mail/Providers/Mailjet/MailjetWebhookServiceTest.php
  tests/Unit/Mail/Providers/Postmark/PostmarkWebhookServiceTest.php
  tests/Unit/Mail/Providers/Resend/ResendWebhookServiceTest.php
  tests/Unit/Mail/Providers/SendGrid/SendGridWebhookServiceTest.php
  tests/Unit/Mail/Providers/SparkPost/SparkPostWebhookServiceTest.php
Due: php-compatibility, ts-lint, ts-check, test

chore: ignore local worktrees
  .gitignore
Due: none

feat(providers): support safe endpoint placeholders
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Descriptor/ProviderDescriptorTest.php
Due: php-compatibility

feat(providers): add cloudflare email sending
  backend/app/Mail/Providers/Cloudflare/CloudflareProvider.php
  backend/app/Mail/Providers/Cloudflare/CloudflareValidator.php
  backend/app/Mail/Support/AttachmentBuilder.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareProviderTest.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareValidatorTest.php
Due: php-compatibility

fix(providers): validate cloudflare credentials
  backend/app/Mail/Providers/Cloudflare/CloudflareProvider.php
  backend/app/Mail/Providers/Cloudflare/CloudflareValidator.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareProviderTest.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareValidatorTest.php
Due: php-compatibility

feat(connections): expose cloudflare provider
  backend/app/Plugin.php
  frontend/src/pages/Connections/providerVisuals.test.ts
  frontend/src/pages/Connections/providerVisuals.ts
  frontend/src/resource/img/providers/cloudflare.svg
  tests/Golden/ProviderMetadataGoldenTest.php
  tests/Golden/SendPayloadGoldenTest.php
  tests/Golden/__snapshots__/buildbody_cloudflare.json
  tests/Golden/__snapshots__/fields_cloudflare.json
  tests/Golden/__snapshots__/provider_metadata.json
Due: php-compatibility, ts-lint, ts-check, test

fix(connections): use generic cloudflare visual
  frontend/src/pages/Connections/providerVisuals.test.ts
  frontend/src/pages/Connections/providerVisuals.ts
  frontend/src/resource/img/providers/cloudflare.svg
Due: ts-lint, ts-check, test

test(providers): cover cloudflare integration
  backend/app/Mail/Providers/Cloudflare/CloudflareValidator.php
  frontend/src/changeLogs.ts
  readme.txt
  tests/Golden/__snapshots__/rest_provider_registry_metadata.json
  tests/Integration/CloudflareConnectionPersistenceTest.php
  tests/Integration/CloudflareSendTest.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/wp-tests-config.php
Due: php-compatibility, ts-lint, ts-check

fix(cloudflare): require semantic send success
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Descriptor/ProviderDescriptor.php
  backend/app/Mail/Providers/Cloudflare/CloudflareProvider.php
  backend/app/Mail/Providers/Cloudflare/CloudflareValidator.php
  frontend/src/pages/Connections/providerVisuals.test.ts
  frontend/src/pages/Connections/providerVisuals.ts
  tests/Integration/CloudflareSendTest.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Descriptor/ProviderDescriptorTest.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareProviderTest.php
  tests/Unit/Mail/Providers/Cloudflare/CloudflareValidatorTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat(alerts): add slack and telegram channels
  backend/app/Mail/Notifications/Channels/SlackFailureNotificationChannel.php
  backend/app/Mail/Notifications/Channels/TelegramFailureNotificationChannel.php
  backend/app/Mail/Notifications/FailureNotification.php
  backend/app/Mail/Notifications/FailureNotificationMessage.php
  tests/Unit/Mail/Notifications/Channels/SlackFailureNotificationChannelTest.php
  tests/Unit/Mail/Notifications/Channels/TelegramFailureNotificationChannelTest.php
  tests/Unit/Mail/Notifications/FailureNotificationMessageTest.php
Due: php-compatibility

fix(alerts): harden notification delivery
  backend/app/Mail/Notifications/Channels/SlackFailureNotificationChannel.php
  backend/app/Mail/Notifications/Channels/TelegramFailureNotificationChannel.php
  backend/app/Mail/Notifications/FailureNotificationMessage.php
  tests/Unit/Mail/Notifications/Channels/SlackFailureNotificationChannelTest.php
  tests/Unit/Mail/Notifications/Channels/TelegramFailureNotificationChannelTest.php
  tests/Unit/Mail/Notifications/FailureNotificationMessageTest.php
Due: php-compatibility

feat(alerts): persist slack and telegram settings
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Config/MaskedSecretResolver.php
  frontend/src/pages/Connections/types.ts
  frontend/src/pages/Notifications/NotificationsPage.test.tsx
  frontend/src/pages/Notifications/NotificationsPage.tsx
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Config/MailSettingsSerializerTest.php
  tests/Unit/Mail/Config/MaskedSecretResolverTest.php
Due: php-compatibility, ts-lint, ts-check, test

fix(alerts): preserve omitted channel settings
  backend/app/Mail/Config/MaskedSecretResolver.php
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MaskedSecretResolverTest.php
Due: php-compatibility

feat(alerts): add notification test endpoint
  backend/app/HTTP/Controllers/NotificationController.php
  backend/app/HTTP/Requests/NotificationTestRequest.php
  backend/app/Mail/Notifications/FailureNotificationChannelRegistry.php
  backend/app/Mail/Notifications/FailureNotifier.php
  backend/app/Mail/Notifications/NotificationChannelTester.php
  backend/app/Plugin.php
  backend/hooks/api.php
  tests/Unit/HTTP/Controllers/NotificationControllerTest.php
  tests/Unit/Mail/Notifications/FailureNotificationChannelRegistryTest.php
  tests/Unit/Mail/Notifications/FailureNotifierTest.php
  tests/Unit/Mail/Notifications/NotificationChannelTesterTest.php
Due: php-compatibility

test(alerts): use channel registry in notifier integration
  tests/Integration/FailureNotifierIntegrationTest.php
Due: none

feat(alerts): configure slack and telegram
  frontend/src/pages/Notifications/NotificationsPage.test.tsx
  frontend/src/pages/Notifications/NotificationsPage.tsx
  frontend/src/pages/Notifications/data/useTestNotification.test.tsx
  frontend/src/pages/Notifications/data/useTestNotification.ts
Due: ts-lint, ts-check, test

fix(alerts): reject slack URL delimiters
  frontend/src/pages/Notifications/NotificationsPage.test.tsx
  frontend/src/pages/Notifications/NotificationsPage.tsx
Due: ts-lint, ts-check, test

test(alerts): cover notification channels
  frontend/src/changeLogs.ts
  readme.txt
  tests/e2e/README.md
  tests/e2e/notifications.spec.ts
Due: ts-lint, ts-check

test(alerts): assert notification test payloads
  tests/e2e/notifications.spec.ts
Due: ts-lint, ts-check

fix(alerts): harden notification final fixes
  backend/app/Config.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Config/MaskedSecretResolver.php
  backend/app/Mail/Notifications/FailureNotificationGate.php
  frontend/src/pages/Notifications/NotificationsPage.test.tsx
  frontend/src/pages/Notifications/NotificationsPage.tsx
  phpstan-baseline.neon
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MaskedSecretResolverTest.php
  tests/Unit/Mail/Notifications/FailureNotificationGateTest.php
Due: php-compatibility, ts-lint, ts-check, test

fix(alerts): harden failure gate race
  backend/app/Config.php
  backend/app/Mail/Notifications/FailureNotificationGate.php
  tests/Unit/Mail/Notifications/FailureNotificationGateTest.php
Due: php-compatibility

feat(analytics): add log attribution columns
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/AnalyticsLogMigrationTest.php
Due: php-compatibility

fix(analytics): advance log schema version
  backend/app/Config.php
  tests/Integration/AnalyticsLogMigrationTest.php
Due: php-compatibility

test(analytics): mirror legacy log indexes
  tests/Integration/AnalyticsLogMigrationTest.php
Due: none

feat(analytics): capture mail source and route
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/SendContext.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Routing/MailSourceDetector.php
  backend/app/Mail/Routing/RoutingDecision.php
  backend/app/Mail/Routing/RoutingResolver.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Integration/WpMailRoutingTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/SendContextTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Routing/RoutingResolverTest.php
Due: php-compatibility

fix(analytics): skip inactive routing detection
  backend/app/Mail/Dispatch/WpMailBridge.php
  tests/Integration/WpMailRoutingTest.php
Due: php-compatibility

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.{php}
  php-compatibility: any of: backend/**/*.php
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
