Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-test, php-compatibility, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

php-lint:
  run: pnpm lint:php {staged_files}

php-test:
  run: pnpm test:php {staged_files}

php-compatibility:
  run: pnpm compat {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts-check

test:
  run: pnpm test

chore: gh workflow updated
  .github/copy-assets
  .github/workflows/deploy.yml
  .github/workflows/test-all.yml
  build/bit-smtp/backend/app/Config.php
  build/bit-smtp/backend/app/Connectors/SmtpConfig.php
  build/bit-smtp/backend/app/HTTP/Controllers/LogController.php
  build/bit-smtp/backend/app/HTTP/Controllers/SMTPController.php
  build/bit-smtp/backend/app/HTTP/Controllers/TelemetryPopupController.php
  build/bit-smtp/backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
  build/bit-smtp/backend/app/HTTP/Requests/DeleteLogRequest.php
  build/bit-smtp/backend/app/HTTP/Requests/MailConfigStoreRequest.php
  build/bit-smtp/backend/app/HTTP/Requests/MailTestRequest.php
  build/bit-smtp/backend/app/HTTP/Requests/TelemetryAccessRequest.php
  build/bit-smtp/backend/app/HTTP/Services/LogService.php
  build/bit-smtp/backend/app/HTTP/Services/MailConfigService.php
  build/bit-smtp/backend/app/Model/Log.php
  build/bit-smtp/backend/app/Plugin.php
  build/bit-smtp/backend/app/Providers/HookProvider.php
  build/bit-smtp/backend/app/Providers/InstallerProvider.php
  build/bit-smtp/backend/app/Providers/SmtpProvider.php
  build/bit-smtp/backend/app/Views/Layout.php
  build/bit-smtp/backend/bootstrap.php
  build/bit-smtp/backend/db/Migrations/BitSmtpLogsTableMigration.php
  build/bit-smtp/backend/db/Migrations/BitSmtpPluginOptions.php
  build/bit-smtp/backend/hooks/ajax.php
  build/bit-smtp/backend/hooks/api.php
  build/bit-smtp/bit_smtp.php
  build/bit-smtp/composer.json
  build/bit-smtp/readme.txt
  frontend/src/changeLogs.ts
  frontend/src/components/TelemetryPopup/TelemetryPopup.tsx
Due: ts-lint, ts-check

chore: php packages updated
  composer.json
  composer.lock
  readme.txt
Due: none

chore: php packages updated
  build/bit-smtp/composer.json
  build/bit-smtp/readme.txt
Due: none

chore: removed unwanted return
  backend/app/Config.php
Due: php-compatibility

fix: some edge cases
  backend/app/HTTP/Services/LogService.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/common/helpers/request.ts
  frontend/src/pages/Layout/Header.tsx
Due: php-compatibility, ts-lint, ts-check

chore: pnpm added as pkg manager
  package.json
Due: none

chore: lefthook gh action
  lefthook.yml
Due: none

fix: gh deploy action
  .eslintignore
  .github/workflows/deploy.yml
  tsconfig.json
Due: none

style: ui updated
  backend/app/Config.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Requests/MailTestRequest.php
  backend/app/Views/EmailTemplate.php
  backend/app/Views/Layout.php
  bit_smtp.php
  frontend/src/config/config.ts
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/MailSendTest/data/useTestMailSend.ts
  lefthook.yml
  readme.txt
Due: php-compatibility, ts-lint, ts-check

fix: ui issues
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/Providers/SmtpProvider.php
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
Due: php-compatibility, ts-lint, ts-check

feat: [#22] method for return view only config
  .php-cs-fixer.php
  backend/app/Connectors/SmtpConfig.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Providers/SmtpProvider.php
Due: php-compatibility

fix: restore SMTP password configuration in SmtpProvider
  backend/app/Providers/SmtpProvider.php
Due: php-compatibility

Chore: bumped version
  backend/app/Config.php
  bit_smtp.php
  readme.txt
Due: php-compatibility

fix: middleware is not registered for api routes
  backend/app/HTTP/Middleware/NonceCheckerMiddleware.php
  backend/app/Providers/HookProvider.php
Due: php-compatibility

chore: packages updated
  composer.lock
Due: none

chore: gh workflow for plugin check
  .github/workflows/plugin-check.yml
Due: none

Fix: direct file aceess
  .distignore
  .github/workflows/plugin-check.yml
  backend/hooks/api.php
  bit_smtp.php
Due: php-compatibility

chore: bumped version
  backend/app/Config.php
  bit_smtp.php
  package.json
  readme.txt
Due: php-compatibility

chore: plugin check issues
  backend/app/Config.php
  backend/app/Plugin.php
  backend/app/Views/EmailTemplate.php
Due: php-compatibility

fix: plugin check gh action
  .github/workflows/plugin-check.yml
Due: none

chore: readme updated
  readme.txt
Due: none

chore: short description fixed
  readme.txt
Due: none

chore: bump version
  backend/app/Config.php
  bit_smtp.php
  readme.txt
Due: php-compatibility

test: add unit test harness and docker compose for integration
  .gitignore
  composer.json
  composer.lock
  docker-compose.test.yml
  phpunit.xml.dist
  tests/BaseUnitTestCase.php
  tests/bootstrap-unit.php
Due: none

feat: add mail provider contracts and value objects
  backend/app/Mail/Connections/Connection.php
  backend/app/Mail/Connections/ConnectionCollection.php
  backend/app/Mail/Contracts/CredentialResolverInterface.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Contracts/TransportInterface.php
  backend/app/Mail/Contracts/ValidatorInterface.php
  backend/app/Mail/Credentials/Credential.php
  backend/app/Mail/Message/MailMessage.php
  backend/app/Mail/Message/SendResult.php
  tests/Unit/Mail/Connections/ConnectionCollectionTest.php
  tests/Unit/Mail/Connections/ConnectionTest.php
  tests/Unit/Mail/Credentials/CredentialTest.php
  tests/Unit/Mail/Message/MailMessageTest.php
  tests/Unit/Mail/Message/SendResultTest.php
Due: php-compatibility

feat: add v2 mail settings, migrator and sanitizer
  backend/app/Mail/Config/MailSettings.php
  backend/app/Mail/Config/MailSettingsMigrator.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  tests/Unit/Mail/Config/MailSettingsMigratorTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Config/MailSettingsTest.php
Due: php-compatibility

feat: add mail settings serializer with legacy bridge and masking
  backend/app/Mail/Config/MailSettingsSerializer.php
  tests/Unit/Mail/Config/MailSettingsSerializerTest.php
Due: php-compatibility

feat: add provider registry and Other SMTP provider
  backend/app/Mail/Exceptions/DuplicateProviderException.php
  backend/app/Mail/Exceptions/ProviderNotFoundException.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpValidator.php
  backend/app/Mail/Providers/ProviderRegistry.php
  tests/Unit/Mail/Providers/OtherSmtp/OtherSmtpProviderTest.php
  tests/Unit/Mail/Providers/OtherSmtp/OtherSmtpValidatorTest.php
  tests/Unit/Mail/Providers/ProviderRegistryTest.php
Due: php-compatibility

feat: add database credential resolver
  backend/app/Mail/Credentials/DatabaseCredentialResolver.php
  tests/Unit/Mail/Credentials/DatabaseCredentialResolverTest.php
Due: php-compatibility

feat: add connection resolver
  backend/app/Mail/Connections/ConnectionResolver.php
  tests/Unit/Mail/Connections/ConnectionResolverTest.php
Due: php-compatibility

test: add wp-phpunit integration harness with mailpit
  composer.json
  composer.lock
  phpunit.integration.xml
  tests/Integration/IntegrationTestCase.php
  tests/Integration/SmokeTest.php
  tests/bootstrap-integration.php
  tests/wp-tests-config.php
Due: none

refactor: split SmtpProvider into WpMailBridge, logger and send context
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/SendContext.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Plugin.php
  backend/app/Providers/SmtpProvider.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/WpMailBridgeTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/SendContextTest.php
  tests/bootstrap-integration.php
  tests/bootstrap-unit.php
  tests/stubs/WP_Error.php
Due: php-compatibility

feat: add SMTP transport and wp_mail message factory
  backend/app/Mail/Message/MailMessageFactory.php
  backend/app/Mail/Transport/ApiTransport.php
  backend/app/Mail/Transport/SmtpTransport.php
  tests/Integration/MailMessageFactoryPinTest.php
  tests/Integration/SmtpTransportTest.php
  tests/Unit/Mail/Message/MailMessageFactoryTest.php
Due: php-compatibility

feat: wire v2 mail settings facade into controller, bridge and plugin
  backend/app/Connectors/SmtpConfig.php
  backend/app/HTTP/Controllers/SMTPController.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Plugin.php
  backend/app/Providers/SmtpProvider.php
  tests/Integration/MailConfigServiceTest.php
Due: php-compatibility

fix: harden credential masking and header-name injection guard
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Transport/SmtpTransport.php
  tests/Integration/SmtpTransportTest.php
  tests/Unit/Mail/Config/MailSettingsSerializerTest.php
Due: php-compatibility

style: apply php-cs-fixer to new Mail domain files
  backend/app/Mail/Config/MailSettings.php
  backend/app/Mail/Config/MailSettingsMigrator.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Connections/Connection.php
  backend/app/Mail/Connections/ConnectionCollection.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Credentials/Credential.php
  backend/app/Mail/Message/MailMessage.php
  backend/app/Mail/Message/SendResult.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpValidator.php
  backend/app/Mail/Providers/ProviderRegistry.php
Due: php-compatibility

feat: add masked-secret preservation and connection write API
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Config/MaskedSecretResolver.php
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MaskedSecretResolverTest.php
Due: php-compatibility

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.{php}
  php-test: any of: *{php}
  php-compatibility: any of: backend/**/*.php
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
