Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

php-lint:
  run: pnpm lint:php {staged_files}

php-compatibility:
  run: pnpm compat {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts-check

test:
  run: pnpm test

style: adopt indigo/violet theme tokens
  frontend/src/config/themes/common.ts
  frontend/src/config/themes/theme.dark.ts
  frontend/src/config/themes/theme.light.ts
  frontend/src/config/themes/theme.test.ts
Due: ts-lint, ts-check, test

refactor: unify dark mode on antd tokens, retire legacy css vars
  frontend/src/main.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/resource/styles/global.css
  frontend/src/resource/styles/variables.css
Due: style-lint, ts-lint, ts-check

feat: add provider brand logo assets
  frontend/src/resource/img/providers/amazon_ses.svg
  frontend/src/resource/img/providers/gmail.svg
  frontend/src/resource/img/providers/other_smtp.svg
  frontend/src/resource/img/providers/sendgrid.svg
Due: none

feat: add provider visual map with logo fallback
  frontend/src/pages/Connections/providerVisuals.test.ts
  frontend/src/pages/Connections/providerVisuals.ts
Due: ts-lint, ts-check, test

feat: rebuild provider selector as a logo grid
  frontend/src/pages/Connections/ProviderSelectorModal.module.css
  frontend/src/pages/Connections/ProviderSelectorModal.test.tsx
  frontend/src/pages/Connections/ProviderSelectorModal.tsx
Due: style-lint, ts-lint, ts-check, test

feat: redesign connection cards and empty state
  frontend/src/pages/Connections/ConnectionCard.test.tsx
  frontend/src/pages/Connections/ConnectionCard.tsx
  frontend/src/pages/Connections/ConnectionsListPage.test.tsx
  frontend/src/pages/Connections/ConnectionsListPage.tsx
Due: ts-lint, ts-check, test

feat: restyle connection editor with grouped sections
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
Due: ts-lint, ts-check, test

feat: restyle header, routing and secondary pages
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Layout/Layout.module.css
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/MailSendTest/MailSendTest.tsx
  frontend/src/pages/Others/Others.tsx
  frontend/src/pages/Routing/RoutingRuleRow.tsx
  frontend/src/pages/Routing/RoutingRulesPage.tsx
Due: style-lint, ts-lint, ts-check

fix: sticky editor bar, active tab, card a11y and title layout
  frontend/src/pages/Connections/ConnectionCard.test.tsx
  frontend/src/pages/Connections/ConnectionCard.tsx
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/resource/styles/global.css
Due: style-lint, ts-lint, ts-check, test

fix: rename NonceCheckerMiddleware to CapabilityCheckerMiddleware
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/HTTP/Middleware/CapabilityCheckerMiddleware.php
  backend/app/Plugin.php
  backend/hooks/api.php
  tests/Integration/OAuthRouteTest.php
Due: php-compatibility

fix: reject malformed SES region before building request host
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
Due: php-compatibility

chore: exclude dev/scratch artifacts from release package
  .distignore
Due: none

fix: return rules array from TelemetryAccessRequest::rules()
  backend/app/HTTP/Requests/TelemetryAccessRequest.php
Due: php-compatibility

feat: add CredentialCipher AES-256-GCM encryption primitive
  backend/app/Mail/Credentials/CredentialCipher.php
  backend/app/Mail/Exceptions/CredentialCipherException.php
  tests/Unit/Mail/Credentials/CredentialCipherTest.php
Due: php-compatibility

feat: encrypt stored credentials at rest via MailConfigService
  backend/app/Config.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/Plugin.php
  backend/app/Providers/InstallerProvider.php
  backend/db/Migrations/BitSmtpEncryptSecrets.php
  tests/Integration/MailConfigServiceTest.php
Due: php-compatibility

fix: allow AWS GovCloud/ISO regions in SES region guard
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
Due: php-compatibility

chore: git-ignore .superpowers agent scratch dir
  .gitignore
Due: none

test: add integration send tests for SendGrid, Gmail, and Amazon SES
  tests/Integration/GmailSendTest.php
  tests/Integration/SendGridSendTest.php
  tests/Integration/SesSendTest.php
Due: none

feat: add RequiredFieldsValidator (fields-driven required-field validation)
  backend/app/Mail/Validation/RequiredFieldsValidator.php
  tests/Unit/Mail/Validation/RequiredFieldsValidatorTest.php
Due: php-compatibility

feat: validate connections at the controller (save/test), fixing the dead-validator gap
  backend/app/HTTP/Controllers/ConnectionController.php
  tests/Integration/ConnectionValidationTest.php
Due: php-compatibility

fix: strip secret-named keys from settings and guard scalar credential entries
  backend/app/Mail/Config/MailSettingsSanitizer.php
  tests/Integration/SettingsSecretCollisionStripTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
Due: php-compatibility

feat: add ApiRequest value object for the auth-strategy layer
  backend/app/Mail/Support/ApiRequest.php
  tests/Unit/Mail/Support/ApiRequestTest.php
Due: php-compatibility

feat: add AuthStrategy contract + AbstractAuthStrategy base
  backend/app/Mail/Auth/AbstractAuthStrategy.php
  backend/app/Mail/Contracts/AuthStrategyInterface.php
  backend/app/Mail/Exceptions/AuthConfigException.php
  tests/Unit/Mail/Auth/AbstractAuthStrategyTest.php
Due: php-compatibility

feat: add Bearer/ApiKey/Basic auth strategies
  backend/app/Mail/Auth/ApiKeyStrategy.php
  backend/app/Mail/Auth/BasicAuthStrategy.php
  backend/app/Mail/Auth/BearerTokenStrategy.php
  tests/Unit/Mail/Auth/ApiKeyStrategyTest.php
  tests/Unit/Mail/Auth/BasicAuthStrategyTest.php
  tests/Unit/Mail/Auth/BearerTokenStrategyTest.php
Due: php-compatibility

feat: add AwsSigV4Strategy (SigV4 signs the built ApiRequest)
  backend/app/Mail/Auth/AwsSigV4Strategy.php
  backend/app/Mail/Exceptions/AuthConfigException.php
  tests/Unit/Mail/Auth/AwsSigV4StrategyTest.php
Due: php-compatibility

feat: add OAuth2Strategy + AuthorizationResolver
  backend/app/Mail/Auth/AuthorizationResolver.php
  backend/app/Mail/Auth/OAuth2Strategy.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  backend/app/Mail/Providers/SendGrid/SendGridProvider.php
  tests/Unit/Mail/Auth/AuthorizationResolverTest.php
  tests/Unit/Mail/Auth/OAuth2StrategyTest.php
Due: php-compatibility

feat: reshape AbstractApiTransport into ApiBase (ApiRequest + encoders + strategy)
  backend/app/Mail/Support/EncoderInterface.php
  backend/app/Mail/Support/FormEncoder.php
  backend/app/Mail/Support/JsonEncoder.php
  backend/app/Mail/Support/MimeRawEncoder.php
  backend/app/Mail/Transport/AbstractApiTransport.php
  tests/Unit/Mail/Support/EncoderTest.php
  tests/Unit/Mail/Transport/AbstractApiTransportTest.php
Due: php-compatibility

refactor: migrate SendGrid to BearerTokenStrategy; drop AbstractApiKeyTransport
  backend/app/Mail/Providers/SendGrid/SendGridTransport.php
  backend/app/Mail/Transport/AbstractApiKeyTransport.php
  tests/Unit/Mail/Providers/SendGrid/SendGridTransportTest.php
  tests/Unit/Mail/Transport/AbstractApiKeyTransportTest.php
Due: php-compatibility

refactor: migrate Gmail and SES onto OAuth2/AwsSigV4 strategies
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  backend/app/Mail/Providers/Gmail/GmailTransport.php
  backend/app/Mail/Transport/AbstractAwsTransport.php
  backend/app/Mail/Transport/AbstractOAuth2Transport.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
  tests/Unit/Mail/Providers/Gmail/GmailTransportTest.php
  tests/Unit/Mail/Transport/AbstractAwsTransportTest.php
  tests/Unit/Mail/Transport/AbstractOAuth2TransportTest.php
Due: php-compatibility

refactor: pass connection into oauth2 provider urls; drop dead sendEndpoint
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/Mail/Contracts/OAuth2ProviderInterface.php
  backend/app/Mail/OAuth/OAuth2TokenProvider.php
  backend/app/Mail/Providers/Gmail/GmailTransport.php
  tests/Unit/HTTP/Controllers/OAuthControllerTest.php
  tests/Unit/Mail/Providers/Gmail/GmailTransportTest.php
  tests/Unit/Mail/Transport/AbstractOAuth2TransportTest.php
Due: php-compatibility

fix: persist rotated OAuth refresh_token (Microsoft rotates every refresh)
  backend/app/Mail/OAuth/OAuth2TokenProvider.php
  tests/Unit/Mail/OAuth/OAuth2TokenProviderTest.php
Due: php-compatibility

fix: preserve stored credentials absent from an edit-save payload (OAuth token-wipe)
  backend/app/HTTP/Services/MailConfigService.php
  tests/Integration/MailConfigServiceTest.php
Due: php-compatibility

style: align === operators in OAuth2TokenProviderTest (php-cs-fixer)
  tests/Unit/Mail/OAuth/OAuth2TokenProviderTest.php
Due: none

feat: add AddressFormatter (csv/object/nested/rfc822 address shapes)
  backend/app/Mail/Support/AddressFormatter.php
  tests/Unit/Mail/Support/AddressFormatterTest.php
Due: php-compatibility

feat: add AttachmentBuilder (per-provider attachment shapes, wp_check_filetype MIME)
  backend/app/Mail/Support/AttachmentBuilder.php
  tests/Unit/Mail/Support/AttachmentBuilderTest.php
Due: php-compatibility

feat: add ApiErrorFormatter (ordered errorPaths + string-body fallback)
  backend/app/Mail/Support/ApiErrorFormatter.php
  tests/Unit/Mail/Support/ApiErrorFormatterTest.php
Due: php-compatibility

feat: add ProviderDescriptor value object
  backend/app/Mail/Descriptor/ProviderDescriptor.php
  tests/Unit/Mail/Descriptor/ProviderDescriptorTest.php
Due: php-compatibility

feat: add DescriptorApiTransport + DescriptorProvider (data-driven providers)
  backend/app/Mail/Auth/AuthorizationResolver.php
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Support/SenderResolver.php
  tests/Unit/Mail/Auth/AuthorizationResolverTest.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Descriptor/DescriptorProviderTest.php
  tests/Unit/Mail/Support/SenderResolverTest.php
Due: php-compatibility

feat: add Postmark mail provider
  backend/app/Mail/Providers/Postmark/PostmarkProvider.php
  backend/app/Plugin.php
  tests/Integration/PostmarkSendTest.php
  tests/Unit/Mail/Providers/Postmark/PostmarkProviderTest.php
Due: php-compatibility

feat: add Brevo mail provider
  backend/app/Mail/Providers/Brevo/BrevoProvider.php
  backend/app/Plugin.php
  tests/Integration/BrevoSendTest.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Unit/Mail/Providers/Brevo/BrevoProviderTest.php
Due: php-compatibility

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.{php}
  php-compatibility: any of: backend/**/*.php
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
