Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

lefthook.yml:

pre-commit:
  # piped: true
  parallel: true
  commands:
    style-lint:
      glob: '*.{css,scss}'
      run: pnpm lint:css {staged_files}
    php-lint:
      glob: '*.{php}'
      run: pnpm lint:php {staged_files}

    php-compatibility:
      glob: 'backend/**/*.php'
      run: pnpm compat {staged_files}
    ts-lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm lint
    pretty:
      run: pnpm pretty:quick
    ts-check:
      glob: '*.{ts,tsx}'
      run: pnpm ts-check
    test:
      glob: '*.test.{js,ts,jsx,tsx}'
      run: pnpm test

commit-msg:
  commands:
    commit-lint:
      run: pnpm commitlint --edit {1}
github-actions:
  parallel: true
  commands:
    lint:
      run: pnpm eslint frontend
    lint-css:
      run: pnpm lint:css
    lint-php:
      run: composer lint
    php-compatibility-check:
      run: composer compat
    prettier:
      run: pnpm pretty:fix
    # test-js:
    #   run: pnpm test
    ts-check:
      run: pnpm ts-check

feat: add Resend mail provider
  backend/app/Mail/Providers/Resend/ResendProvider.php
  backend/app/Plugin.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Integration/ResendSendTest.php
  tests/Unit/Mail/Providers/Resend/ResendProviderTest.php
Due: php-compatibility

feat: add Mailjet mail provider (+ AddressFormatter object_uc shape)
  backend/app/Mail/Providers/Mailjet/MailjetProvider.php
  backend/app/Mail/Support/AddressFormatter.php
  backend/app/Plugin.php
  tests/Integration/MailjetSendTest.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Unit/Mail/Providers/Mailjet/MailjetProviderTest.php
  tests/Unit/Mail/Support/AddressFormatterTest.php
Due: php-compatibility

feat: add ZeptoMail mail provider (+ AddressFormatter address shape, engine defaultRegion)
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Providers/Zepto/ZeptoProvider.php
  backend/app/Mail/Support/AddressFormatter.php
  backend/app/Plugin.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Integration/ZeptoSendTest.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Providers/Zepto/ZeptoProviderTest.php
  tests/Unit/Mail/Support/AddressFormatterTest.php
Due: php-compatibility

test: complete Phase-3 provider registry metadata coverage
  tests/Integration/ProviderRegistryMetadataTest.php
Due: none

feat: add MultipartEncoder (WP HTTP has no native multipart)
  backend/app/Mail/Support/MultipartEncoder.php
  tests/Unit/Mail/Support/MultipartEncoderTest.php
Due: php-compatibility

feat: add Mailgun mail provider (multipart attachments, domain/region-safe endpoint)
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Providers/Mailgun/MailgunProvider.php
  backend/app/Mail/Support/FormMultipartEncoder.php
  backend/app/Plugin.php
  tests/Integration/MailgunSendTest.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Unit/Mail/Descriptor/DescriptorProviderTest.php
  tests/Unit/Mail/Providers/Mailgun/MailgunProviderTest.php
  tests/Unit/Mail/Support/FormMultipartEncoderTest.php
Due: php-compatibility

feat: add SparkPost mail provider (recipients/header_to via payloadBuilder)
  backend/app/Mail/Providers/SparkPost/SparkPostPayloadBuilder.php
  backend/app/Mail/Providers/SparkPost/SparkPostProvider.php
  backend/app/Plugin.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Integration/SparkPostSendTest.php
  tests/Unit/Mail/Providers/SparkPost/SparkPostPayloadBuilderTest.php
  tests/Unit/Mail/Providers/SparkPost/SparkPostProviderTest.php
Due: php-compatibility

feat: add Microsoft 365 / Outlook mail provider (Graph sendMail, per-tenant OAuth2)
  backend/app/Mail/Providers/Microsoft365/Microsoft365Provider.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Transport.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Validator.php
  backend/app/Plugin.php
  tests/Integration/Microsoft365SendTest.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365ProviderTest.php
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365TransportTest.php
  tests/Unit/Mail/Providers/Microsoft365/Microsoft365ValidatorTest.php
Due: php-compatibility

docs: note Google Workspace support on the Gmail provider
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  tests/Unit/Mail/Providers/Gmail/GmailProviderTest.php
Due: php-compatibility

fix: honor Reply-To on Mailgun via h:Reply-To field
  backend/app/Mail/Providers/Mailgun/MailgunProvider.php
  tests/Unit/Mail/Providers/Mailgun/MailgunProviderTest.php
Due: php-compatibility

feat(ui): add real brand logos for all mail providers in the picker
  frontend/src/pages/Connections/providerVisuals.ts
  frontend/src/resource/img/providers/amazon_ses.svg
  frontend/src/resource/img/providers/brevo.svg
  frontend/src/resource/img/providers/gmail.svg
  frontend/src/resource/img/providers/mailgun.svg
  frontend/src/resource/img/providers/mailjet.png
  frontend/src/resource/img/providers/microsoft365.svg
  frontend/src/resource/img/providers/resend.svg
  frontend/src/resource/img/providers/sendgrid.svg
  frontend/src/resource/img/providers/sparkpost.svg
  frontend/src/resource/img/providers/zeptomail.svg
Due: ts-lint, ts-check

fix(ui): make the connection editor Save bar prominent
  frontend/src/pages/Connections/ConnectionEditor.tsx
Due: ts-lint, ts-check

fix: apply the connection From Email to all provider sends (force-from at dispatch)
  backend/app/Mail/Dispatch/WpMailBridge.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility

fix: treat a 2xx-with-error body as a failed send, opt-in per provider (no false positive)
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Descriptor/ProviderDescriptor.php
  backend/app/Mail/Providers/Mailjet/MailjetProvider.php
  backend/app/Mail/Support/ApiErrorFormatter.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Descriptor/ProviderDescriptorTest.php
  tests/Unit/Mail/Providers/Mailgun/MailgunProviderTest.php
  tests/Unit/Mail/Providers/Mailjet/MailjetProviderTest.php
  tests/Unit/Mail/Providers/Postmark/PostmarkProviderTest.php
  tests/Unit/Mail/Support/ApiErrorFormatterTest.php
Due: php-compatibility

feat: check real provider delivery status on Test Connection (Brevo first)
  backend/app/HTTP/Controllers/ConnectionController.php
  backend/app/Mail/Contracts/MessageStatusCheckerInterface.php
  backend/app/Mail/Status/BrevoStatusChecker.php
  backend/app/Mail/Status/DeliveryStatus.php
  backend/app/Mail/Status/StatusCheckerRegistry.php
  backend/app/Plugin.php
  frontend/src/pages/Connections/ConnectionTestButton.test.tsx
  frontend/src/pages/Connections/ConnectionTestButton.tsx
  frontend/src/pages/Connections/data/useTestConnection.test.tsx
  frontend/src/pages/Connections/data/useTestConnection.ts
  tests/Unit/HTTP/Controllers/ConnectionControllerTest.php
  tests/Unit/Mail/Status/BrevoStatusCheckerTest.php
  tests/Unit/Mail/Status/StatusCheckerRegistryTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat: record the sending connection on each mail-log entry (fallback flow visibility)
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Model/Log.php
  backend/app/Providers/InstallerProvider.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/Logs.connection.test.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/Logs/ui/tabs/EmailDetailsTab.tsx
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility, ts-lint, ts-check, test

fix: fall back only when not accepted, never on an accepted-but-partial send (no duplicate)
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Message/SendResult.php
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  backend/app/Mail/Providers/Gmail/GmailTransport.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Transport.php
  backend/app/Mail/Providers/SendGrid/SendGridTransport.php
  backend/app/Mail/Transport/AbstractApiTransport.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Message/SendResultTest.php
  tests/Unit/Mail/Transport/AbstractApiTransportTest.php
  tests/Unit/Mail/Transport/AbstractOAuth2TransportTest.php
Due: php-compatibility

fix: guard PHPMailer constant so an API-send failure can't fatal
  backend/app/Mail/Dispatch/MailEventLogger.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
Due: php-compatibility

feat: one log row per message carrying the full fallback attempt trail
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/LogDetails.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/Logs/ui/tabs/DeliveryAttemptsTab.tsx
  tests/Integration/WpMailFallbackTest.php
Due: php-compatibility, ts-lint, ts-check

feat: capture provider message-id + tracking token for delivery webhooks
  backend/app/Config.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Connections/Connection.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Descriptor/DescriptorApiTransport.php
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Descriptor/ProviderDescriptor.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/TrackingIdStamper.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Message/SendResult.php
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  backend/app/Mail/Providers/Brevo/BrevoProvider.php
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Provider.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  backend/app/Mail/Providers/Postmark/PostmarkProvider.php
  backend/app/Mail/Providers/SendGrid/SendGridProvider.php
  backend/app/Mail/Transport/AbstractApiTransport.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  frontend/src/pages/Connections/ConnectionEditor.tsx
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Connections/ConnectionTest.php
  tests/Unit/Mail/Descriptor/DescriptorApiTransportTrackingTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/TrackingIdStamperTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Message/SendResultTest.php
Due: php-compatibility, ts-lint, ts-check

feat: provider delivery-webhook receiver — real delivery status on mail-log rows
  backend/app/Config.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/WebhookController.php
  backend/app/HTTP/Services/LogService.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/HTTP/Webhook/WebhookRouter.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Config/MailSettingsSerializer.php
  backend/app/Mail/Connections/Connection.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Webhook/Adapters/BrevoWebhookAdapter.php
  backend/app/Mail/Webhook/Adapters/PostmarkWebhookAdapter.php
  backend/app/Mail/Webhook/Contracts/WebhookAdapterInterface.php
  backend/app/Mail/Webhook/DeliveryEvent.php
  backend/app/Mail/Webhook/DeliveryEventRecorder.php
  backend/app/Mail/Webhook/DeliveryRollup.php
  backend/app/Mail/Webhook/WebhookAdapterFactory.php
  backend/app/Mail/Webhook/WebhookRequest.php
  backend/app/Model/Log.php
  backend/app/Model/LogDeliveryEvent.php
  backend/app/Providers/HookProvider.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/Webhook/DeliveryEventRecorderTest.php
  tests/Integration/Webhook/WebhookControllerTest.php
  tests/Unit/HTTP/Webhook/WebhookRouterTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Config/MailSettingsSerializerTest.php
  tests/Unit/Mail/Connections/ConnectionTest.php
  tests/Unit/Mail/Webhook/Adapters/BrevoWebhookAdapterTest.php
  tests/Unit/Mail/Webhook/Adapters/PostmarkWebhookAdapterTest.php
  tests/Unit/Mail/Webhook/DeliveryEventTest.php
  tests/Unit/Mail/Webhook/DeliveryRollupTest.php
  tests/Unit/Mail/Webhook/WebhookRequestTest.php
Due: php-compatibility

feat: verified-gated delivery badge, per-recipient detail, connection webhook panel
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/types.ts
  frontend/src/pages/Logs/data/useFetchLogs.ts
  frontend/src/pages/Logs/ui/DeliveryStatusTag.tsx
  frontend/src/pages/Logs/ui/LogDetails.tsx
  frontend/src/pages/Logs/ui/Logs.tsx
  frontend/src/pages/Logs/ui/tabs/DeliveryStatusTab.tsx
Due: ts-lint, ts-check, test

fix: scope delivery correlation on a stable connection id + review hardening
  backend/app/Config.php
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Controllers/WebhookController.php
  backend/app/HTTP/Services/LogService.php
  backend/app/HTTP/Services/MailConfigService.php
  backend/app/HTTP/Webhook/WebhookRouter.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Status/BrevoStatusChecker.php
  backend/app/Mail/Status/DeliveryStatus.php
  backend/app/Mail/Webhook/DeliveryEvent.php
  backend/app/Mail/Webhook/DeliveryEventRecorder.php
  backend/app/Mail/Webhook/DeliveryRollup.php
  backend/app/Mail/Webhook/WebhookRequest.php
  backend/app/Model/Log.php
  backend/db/Migrations/BitSmtpLogsTableMigration.php
  tests/Integration/Webhook/DeliveryEventRecorderTest.php
  tests/Integration/Webhook/WebhookControllerTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
  tests/Unit/Mail/Webhook/Adapters/BrevoWebhookAdapterTest.php
  tests/Unit/Mail/Webhook/Adapters/PostmarkWebhookAdapterTest.php
  tests/Unit/Mail/Webhook/DeliveryEventTest.php
  tests/Unit/Mail/Webhook/WebhookRequestTest.php
Due: php-compatibility

feat: enable Brevo delivery webhooks after live correlation check
  backend/app/Mail/Webhook/WebhookAdapterFactory.php
  tests/Integration/Webhook/WebhookControllerTest.php
Due: php-compatibility

feat: derive delivery status from a successful send-accept (Amazon SES)
  backend/app/HTTP/Controllers/LogController.php
  backend/app/HTTP/Services/LogService.php
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Descriptor/DescriptorProvider.php
  backend/app/Mail/Dispatch/MailEventLogger.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  backend/app/Mail/Providers/Microsoft365/Microsoft365Provider.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  backend/app/Mail/Providers/SendGrid/SendGridProvider.php
  tests/Integration/LogServiceResendDeliveryTest.php
  tests/Unit/Mail/Dispatch/MailEventLoggerTest.php
  tests/Unit/Mail/Dispatch/WpMailBridgeTest.php
Due: php-compatibility

feat: gate plugin load behind a PHP 8.1 runtime check
  bit_smtp.php
  tests/gate/gate-smoke.php
Due: none

chore: raise PHP floor to 8.1 (composer, header, readme)
  composer.json
  composer.lock
  readme.txt
Due: none

chore: split PHPCompatibility — backend at 8.1-, entry files at 8.0-
  composer.json
  lefthook.yml
Due: none

ci: lint the bootstrap chain for 8.1-only syntax
  bin/lint-bootstrap-syntax.sh
  composer.json
  lefthook.yml
Due: none

ci: matrix PHP 8.0/8.1 — run unit suite on 8.1, gate smoke on both
  .github/workflows/test-all.yml
Due: none

test: add PHPStan level 6 with a baseline of existing debt
  composer.json
  composer.lock
  phpstan-baseline.neon
  phpstan.neon.dist
Due: none

test: declare PHPStan array-shape aliases for the frozen boundaries
  backend/app/Mail/Config/PersistedShapes.php
Due: php-compatibility

test: golden snapshot harness + deterministic WP stubs
  phpunit.xml.dist
  tests/Golden/Support/GoldenTestCase.php
  tests/Golden/Support/WpStubs.php
Due: none

test: characterization goldens for options migrate/round-trip/masked/legacy
  .prettierignore
  tests/Golden/PersistenceGoldenTest.php
  tests/Golden/__snapshots__/persistence_api_masked.json
  tests/Golden/__snapshots__/persistence_legacy_flat.json
  tests/Golden/__snapshots__/persistence_migrate_empty.json
  tests/Golden/__snapshots__/persistence_migrate_v1.json
  tests/Golden/__snapshots__/persistence_migrate_v1_typo.json
  tests/Golden/__snapshots__/persistence_v2_roundtrip.json
Due: none

test: characterization golden for mask-sentinel preserve-on-empty
  tests/Golden/SecretWalkGoldenTest.php
  tests/Golden/__snapshots__/secret_mask_sentinel_restore.json
Due: none

test: characterization goldens for provider metadata + fields()
  tests/Golden/ProviderMetadataGoldenTest.php
  tests/Golden/__snapshots__/fields_amazon_ses.json
  tests/Golden/__snapshots__/fields_brevo.json
  tests/Golden/__snapshots__/fields_gmail.json
  tests/Golden/__snapshots__/fields_mailgun.json
  tests/Golden/__snapshots__/fields_mailjet.json
  tests/Golden/__snapshots__/fields_microsoft365.json
  tests/Golden/__snapshots__/fields_other_smtp.json
  tests/Golden/__snapshots__/fields_php_sendmail.json
  tests/Golden/__snapshots__/fields_postmark.json
  tests/Golden/__snapshots__/fields_resend.json
  tests/Golden/__snapshots__/fields_sendgrid.json
  tests/Golden/__snapshots__/fields_sparkpost.json
  tests/Golden/__snapshots__/fields_zeptomail.json
  tests/Golden/__snapshots__/provider_metadata.json
Due: none

test: characterization goldens for send payloads + delivery rollup
  tests/Golden/DeliveryRollupGoldenTest.php
  tests/Golden/SendPayloadGoldenTest.php
  tests/Golden/__snapshots__/buildbody_brevo.json
  tests/Golden/__snapshots__/buildbody_mailgun.json
  tests/Golden/__snapshots__/buildbody_mailjet.json
  tests/Golden/__snapshots__/buildbody_postmark.json
  tests/Golden/__snapshots__/buildbody_resend.json
  tests/Golden/__snapshots__/buildbody_sparkpost.json
  tests/Golden/__snapshots__/buildbody_zeptomail.json
  tests/Golden/__snapshots__/rollup_bounced.json
  tests/Golden/__snapshots__/rollup_delivered_then_deferred.json
  tests/Golden/__snapshots__/rollup_empty.json
  tests/Golden/__snapshots__/rollup_multi_recipient_mixed_outcomes.json
  tests/Golden/__snapshots__/rollup_non_terminal_only_falls_back_to_occurred_at.json
Due: none

test: integration characterization goldens for REST bodies
  tests/Golden/Support/GoldenTestCase.php
  tests/Golden/Support/MatchesGolden.php
  tests/Golden/__snapshots__/rest_api_settings.json
  tests/Golden/__snapshots__/rest_connection_save_response.json
  tests/Golden/__snapshots__/rest_connection_test_response.json
  tests/Golden/__snapshots__/rest_connection_webhook_create_response.json
  tests/Golden/__snapshots__/rest_provider_registry_metadata.json
  tests/Integration/Golden/RestBodyGoldenTest.php
Due: none

test: frontend REST-contract fixture pinned to the real backend payload
  frontend/src/pages/Connections/restContract.test.ts
  frontend/src/pages/Connections/types.ts
  frontend/src/pages/Notifications/NotificationsPage.tsx
  frontend/src/pages/__fixtures__/rest-providers.fixture.json
  frontend/src/pages/__fixtures__/rest-settings.fixture.json
Due: ts-lint, ts-check, test
