Repository Bit-Apps-Pro/bit-smtp: changes, and which lefthook commands are due for each by the changed paths.
All: style-lint, php-lint, php-compatibility, ts-lint, ts-check, test

style-lint:
  run: pnpm lint:css {staged_files}

php-lint:
  run: pnpm lint:php {staged_files}

php-compatibility:
  run: pnpm compat {staged_files}

ts-lint:
  run: pnpm lint

ts-check:
  run: pnpm ts-check

test:
  run: pnpm test

feat: add mail settings, providers and connections REST endpoints
  backend/app/HTTP/Controllers/ConnectionController.php
  backend/app/HTTP/Controllers/MailSettingsController.php
  backend/app/HTTP/Controllers/ProviderController.php
  backend/app/HTTP/Requests/ConnectionDeleteRequest.php
  backend/app/HTTP/Requests/ConnectionSaveRequest.php
  backend/app/HTTP/Requests/ConnectionTestRequest.php
  backend/app/HTTP/Requests/MailSettingsSaveRequest.php
  backend/hooks/api.php
  tests/Integration/MailSettingsControllerTest.php
Due: php-compatibility

fix: preserve stored credentials on credential-less connection update
  backend/app/Mail/Config/MaskedSecretResolver.php
  backend/app/Mail/Transport/SmtpTransport.php
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MaskedSecretResolverTest.php
Due: php-compatibility

build: upgrade frontend to React 19, Router 7, React Query 5, Vitest 3
  frontend/src/config/__smoke__/toolchain.test.tsx
  frontend/src/config/test.setup.ts
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: ts-lint, ts-check, test

feat: migrate existing pages to upgraded frontend libs
  frontend/src/components/utilities/icons/AntIconWrapper.tsx
  frontend/src/config/test-utils.tsx
  frontend/src/icons/AntIconWrapper.tsx
  frontend/src/icons/Icons.tsx
  frontend/src/pages/Homepage/SMTP.smoke.test.tsx
  frontend/src/pages/Logs/data/useDeleteLog.ts
  frontend/src/pages/Logs/data/useResendLog.ts
  frontend/src/pages/Logs/data/useResendLogs.ts
  frontend/src/pages/Logs/ui/Logs.smoke.test.tsx
  frontend/src/pages/MailSendTest/MailSendTest.smoke.test.tsx
  frontend/src/pages/MailSendTest/data/useTestMailSend.ts
  frontend/src/pages/Others/Others.smoke.test.tsx
  tsconfig.json
  vite.config.mts
Due: ts-lint, ts-check, test

feat: enrich Other SMTP provider field metadata for form rendering
  backend/app/Mail/Contracts/ProviderInterface.php
  backend/app/Mail/Providers/OtherSmtp/OtherSmtpProvider.php
  tests/Integration/MailSettingsControllerTest.php
  tests/Unit/Mail/Providers/OtherSmtp/OtherSmtpProviderTest.php
Due: php-compatibility

feat: add connection data hooks and types
  frontend/src/pages/Connections/data/useDeleteConnection.test.tsx
  frontend/src/pages/Connections/data/useDeleteConnection.ts
  frontend/src/pages/Connections/data/useMailSettings.test.tsx
  frontend/src/pages/Connections/data/useMailSettings.ts
  frontend/src/pages/Connections/data/useProviders.test.tsx
  frontend/src/pages/Connections/data/useProviders.ts
  frontend/src/pages/Connections/data/useSaveConnection.test.tsx
  frontend/src/pages/Connections/data/useSaveConnection.ts
  frontend/src/pages/Connections/data/useSetDefaultConnection.test.tsx
  frontend/src/pages/Connections/data/useSetDefaultConnection.ts
  frontend/src/pages/Connections/data/useTestConnection.test.tsx
  frontend/src/pages/Connections/data/useTestConnection.ts
  frontend/src/pages/Connections/types.ts
Due: ts-lint, ts-check, test

feat: add reusable metadata-driven form field renderers
  frontend/src/pages/Connections/fields/FieldRenderer.test.tsx
  frontend/src/pages/Connections/fields/FieldRenderer.tsx
  frontend/src/pages/Connections/fields/MaskedPasswordField.test.tsx
  frontend/src/pages/Connections/fields/MaskedPasswordField.tsx
  frontend/src/pages/Connections/fields/NumberField.test.tsx
  frontend/src/pages/Connections/fields/NumberField.tsx
  frontend/src/pages/Connections/fields/SelectField.test.tsx
  frontend/src/pages/Connections/fields/SelectField.tsx
  frontend/src/pages/Connections/fields/SwitchField.test.tsx
  frontend/src/pages/Connections/fields/SwitchField.tsx
  frontend/src/pages/Connections/fields/TextField.test.tsx
  frontend/src/pages/Connections/fields/TextField.tsx
Due: ts-lint, ts-check, test

feat: add ProviderFields and connection test button
  frontend/src/pages/Connections/ConnectionTestButton.test.tsx
  frontend/src/pages/Connections/ConnectionTestButton.tsx
  frontend/src/pages/Connections/ProviderFields.test.tsx
  frontend/src/pages/Connections/ProviderFields.tsx
Due: ts-lint, ts-check, test

refactor: simplify reusable connection field components
  frontend/src/pages/Connections/ProviderFields.tsx
  frontend/src/pages/Connections/data/useDeleteConnection.ts
  frontend/src/pages/Connections/data/useMailSettings.ts
  frontend/src/pages/Connections/data/useMailSettingsMutation.ts
  frontend/src/pages/Connections/data/useProviders.ts
  frontend/src/pages/Connections/data/useSaveConnection.ts
  frontend/src/pages/Connections/data/useSetDefaultConnection.ts
  frontend/src/pages/Connections/fields/FieldItem.tsx
  frontend/src/pages/Connections/fields/FieldRenderer.test.tsx
  frontend/src/pages/Connections/fields/FieldRenderer.tsx
  frontend/src/pages/Connections/fields/MaskedPasswordField.tsx
  frontend/src/pages/Connections/fields/NumberField.tsx
  frontend/src/pages/Connections/fields/SelectField.tsx
  frontend/src/pages/Connections/fields/TextField.tsx
  frontend/src/pages/Connections/types.ts
Due: ts-lint, ts-check, test

feat: add connection editor
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
Due: ts-lint, ts-check, test

feat: add connection list, provider picker and default selector
  frontend/src/pages/Connections/ConnectionList.test.tsx
  frontend/src/pages/Connections/ConnectionList.tsx
  frontend/src/pages/Connections/DefaultConnectionSelect.test.tsx
  frontend/src/pages/Connections/DefaultConnectionSelect.tsx
  frontend/src/pages/Connections/ProviderPicker.test.tsx
  frontend/src/pages/Connections/ProviderPicker.tsx
Due: ts-lint, ts-check, test

feat: connection management page replaces single SMTP form
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Connections/ConnectionsPage.test.tsx
  frontend/src/pages/Connections/ConnectionsPage.tsx
  frontend/src/pages/Homepage/SMTP.smoke.test.tsx
  frontend/src/pages/Homepage/SMTP.tsx
  frontend/src/pages/Homepage/data/useSmtpConfig.ts
  frontend/src/pages/Homepage/index.ts
Due: ts-lint, ts-check, test

fix: guard default-connection save against an unloaded settings cache
  frontend/src/pages/Connections/data/useSetDefaultConnection.ts
  package.json
  pnpm-lock.yaml
Due: ts-lint, ts-check

fix: use a deterministic id for the migrated legacy connection
  backend/app/Mail/Config/MailSettingsMigrator.php
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MailSettingsMigratorTest.php
Due: php-compatibility

feat: add ordered connection resolution for fallback
  backend/app/Mail/Connections/ConnectionResolver.php
  tests/Unit/Mail/Connections/ConnectionResolverTest.php
Due: php-compatibility

style: normalize migrator regression tests and ignore e2e artifacts
  .gitignore
  tests/Integration/MailConfigServiceTest.php
  tests/Unit/Mail/Config/MailSettingsMigratorTest.php
Due: none

feat: send-time connection fallback via pre_wp_mail dispatch
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Mail/Transport/SmtpTransport.php
  backend/app/Plugin.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/MailConfigServiceTest.php
  tests/Integration/SmtpTransportTest.php
  tests/Integration/WpMailFallbackTest.php
Due: php-compatibility

feat: add settings-order mutation hook and dnd deps
  frontend/src/pages/Connections/data/useUpdateSettings.test.tsx
  frontend/src/pages/Connections/data/useUpdateSettings.ts
  package.json
  pnpm-lock.yaml
Due: ts-lint, ts-check, test

feat: add connections list page with cards and detail route
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Connections/ConnectionCard.test.tsx
  frontend/src/pages/Connections/ConnectionCard.tsx
  frontend/src/pages/Connections/ConnectionDetailPage.test.tsx
  frontend/src/pages/Connections/ConnectionDetailPage.tsx
  frontend/src/pages/Connections/ConnectionsListPage.test.tsx
  frontend/src/pages/Connections/ConnectionsListPage.tsx
Due: ts-lint, ts-check, test

feat: drag-reorder connection fallback priority
  frontend/src/pages/Connections/ConnectionCard.tsx
  frontend/src/pages/Connections/ConnectionsListPage.test.tsx
  frontend/src/pages/Connections/ConnectionsListPage.tsx
Due: ts-lint, ts-check, test

feat: add provider selector modal and create flow
  frontend/src/pages/Connections/ConnectionsListPage.test.tsx
  frontend/src/pages/Connections/ConnectionsListPage.tsx
  frontend/src/pages/Connections/ProviderSelectorModal.test.tsx
  frontend/src/pages/Connections/ProviderSelectorModal.tsx
Due: ts-lint, ts-check, test

feat: add create-connection route and retire single-page editor
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Connections/ConnectionList.test.tsx
  frontend/src/pages/Connections/ConnectionList.tsx
  frontend/src/pages/Connections/ConnectionsPage.test.tsx
  frontend/src/pages/Connections/ConnectionsPage.tsx
  frontend/src/pages/Connections/DefaultConnectionSelect.test.tsx
  frontend/src/pages/Connections/DefaultConnectionSelect.tsx
  frontend/src/pages/Connections/NewConnectionPage.test.tsx
  frontend/src/pages/Connections/NewConnectionPage.tsx
  frontend/src/pages/Connections/ProviderPicker.test.tsx
  frontend/src/pages/Connections/ProviderPicker.tsx
Due: ts-lint, ts-check, test

fix: require WP 5.7 for pre_wp_mail and fire phpmailer_init by reference
  backend/app/Mail/Transport/SmtpTransport.php
  readme.txt
Due: php-compatibility

feat: add base API client, abstract API transport and MIME builder
  backend/app/Mail/Http/ApiClient.php
  backend/app/Mail/Http/ApiResponse.php
  backend/app/Mail/Message/MimeBuilder.php
  backend/app/Mail/Transport/AbstractApiTransport.php
  backend/app/Mail/Transport/ApiTransport.php
  tests/Unit/Mail/Http/ApiClientTest.php
  tests/Unit/Mail/Http/ApiResponseTest.php
  tests/Unit/Mail/Message/MimeBuilderTest.php
  tests/Unit/Mail/Transport/AbstractApiTransportTest.php
Due: php-compatibility

style: apply php-cs-fixer docblock and alignment fixes to PR5 A1 tests
  tests/Unit/Mail/Http/ApiClientTest.php
  tests/Unit/Mail/Http/ApiResponseTest.php
  tests/Unit/Mail/Message/MimeBuilderTest.php
  tests/Unit/Mail/Transport/AbstractApiTransportTest.php
Due: none

feat: add API-key transport base and SendGrid provider
  backend/app/Mail/Providers/SendGrid/SendGridProvider.php
  backend/app/Mail/Providers/SendGrid/SendGridTransport.php
  backend/app/Mail/Providers/SendGrid/SendGridValidator.php
  backend/app/Mail/Transport/AbstractApiKeyTransport.php
  tests/Unit/Mail/Providers/SendGrid/SendGridProviderTest.php
  tests/Unit/Mail/Providers/SendGrid/SendGridTransportTest.php
  tests/Unit/Mail/Providers/SendGrid/SendGridValidatorTest.php
  tests/Unit/Mail/Transport/AbstractApiKeyTransportTest.php
Due: php-compatibility

feat: add OAuth2 token provider and contract
  backend/app/Mail/Contracts/OAuth2ProviderInterface.php
  backend/app/Mail/Exceptions/OAuthException.php
  backend/app/Mail/OAuth/OAuth2TokenProvider.php
  tests/Unit/Mail/OAuth/OAuth2TokenProviderTest.php
Due: php-compatibility

feat: add OAuth2 transport base and Gmail provider
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  backend/app/Mail/Providers/Gmail/GmailTransport.php
  backend/app/Mail/Providers/Gmail/GmailValidator.php
  backend/app/Mail/Transport/AbstractOAuth2Transport.php
  tests/Unit/Mail/Providers/Gmail/GmailProviderTest.php
  tests/Unit/Mail/Providers/Gmail/GmailTransportTest.php
  tests/Unit/Mail/Providers/Gmail/GmailValidatorTest.php
  tests/Unit/Mail/Transport/AbstractOAuth2TransportTest.php
Due: php-compatibility

feat: add OAuth2 consent flow (authorize + callback) with signed state
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Exceptions/OAuthStateException.php
  backend/app/Mail/OAuth/OAuthStateCodec.php
  backend/hooks/api.php
  tests/Integration/OAuthRouteTest.php
  tests/Unit/HTTP/Controllers/OAuthControllerTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/OAuth/OAuthStateCodecTest.php
Due: php-compatibility

feat: add OAuth connect flow to the connection editor
  backend/app/Mail/Providers/Gmail/GmailProvider.php
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
  frontend/src/pages/Connections/OAuthConnectButton.test.tsx
  frontend/src/pages/Connections/OAuthConnectButton.tsx
  frontend/src/pages/Connections/data/useOAuthAuthorize.test.tsx
  frontend/src/pages/Connections/data/useOAuthAuthorize.ts
  frontend/src/pages/Connections/types.ts
  tests/Unit/Mail/Providers/Gmail/GmailProviderTest.php
Due: php-compatibility, ts-lint, ts-check, test

feat: add AWS SigV4 request signer
  backend/app/Mail/Aws/SigV4Signer.php
  tests/Unit/Mail/Aws/SigV4SignerTest.php
Due: php-compatibility

feat: add AWS-signed transport base and Amazon SES provider
  backend/app/Mail/Providers/AmazonSes/SesProvider.php
  backend/app/Mail/Providers/AmazonSes/SesTransport.php
  backend/app/Mail/Providers/AmazonSes/SesValidator.php
  backend/app/Mail/Transport/AbstractApiTransport.php
  backend/app/Mail/Transport/AbstractAwsTransport.php
  tests/Unit/Mail/Providers/AmazonSes/SesProviderTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesTransportTest.php
  tests/Unit/Mail/Providers/AmazonSes/SesValidatorTest.php
  tests/Unit/Mail/Transport/AbstractAwsTransportTest.php
Due: php-compatibility

feat: register API providers and dispatch per-connection transport
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Plugin.php
  backend/app/Providers/SmtpProvider.php
  tests/Integration/ProviderRegistryMetadataTest.php
  tests/Integration/WpMailFallbackTest.php
Due: php-compatibility

fix: map every provider secret field to its own credential key
  frontend/src/pages/Connections/ConnectionEditor.test.tsx
  frontend/src/pages/Connections/ConnectionEditor.tsx
Due: ts-lint, ts-check, test

fix: preserve provider settings on save and form-encode OAuth token requests
  backend/app/HTTP/Controllers/OAuthController.php
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Http/ApiClient.php
  backend/app/Mail/Http/ApiResponse.php
  backend/app/Mail/OAuth/OAuth2TokenProvider.php
  tests/Integration/MimeBuilderTest.php
  tests/Integration/SesConnectionPersistenceTest.php
  tests/Unit/HTTP/Controllers/OAuthControllerTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Http/ApiClientTest.php
  tests/Unit/Mail/OAuth/OAuth2TokenProviderTest.php
Due: php-compatibility

feat: add smart routing rule model and resolver
  backend/app/Mail/Routing/RoutingCondition.php
  backend/app/Mail/Routing/RoutingContext.php
  backend/app/Mail/Routing/RoutingResolver.php
  backend/app/Mail/Routing/RoutingRule.php
  backend/app/Mail/Routing/RoutingRules.php
  tests/Unit/Mail/Routing/RoutingConditionTest.php
  tests/Unit/Mail/Routing/RoutingContextTest.php
  tests/Unit/Mail/Routing/RoutingResolverTest.php
  tests/Unit/Mail/Routing/RoutingRuleTest.php
  tests/Unit/Mail/Routing/RoutingRulesTest.php
Due: php-compatibility

feat: add best-effort mail source-plugin detector
  backend/app/Mail/Routing/MailSourceDetector.php
  tests/Unit/Mail/Routing/MailSourceDetectorTest.php
Due: php-compatibility

feat: route mail to a connection by rule in the dispatch
  backend/app/Mail/Config/MailSettingsSanitizer.php
  backend/app/Mail/Connections/ConnectionResolver.php
  backend/app/Mail/Dispatch/WpMailBridge.php
  backend/app/Plugin.php
  tests/Integration/WpMailRoutingTest.php
  tests/Unit/Mail/Config/MailSettingsSanitizerTest.php
  tests/Unit/Mail/Connections/ConnectionResolverTest.php
Due: php-compatibility

feat: add smart routing rules manager UI
  frontend/src/AppRoutes.tsx
  frontend/src/pages/Layout/Header.tsx
  frontend/src/pages/Routing/ConditionEditor.test.tsx
  frontend/src/pages/Routing/ConditionEditor.tsx
  frontend/src/pages/Routing/RoutingRuleRow.test.tsx
  frontend/src/pages/Routing/RoutingRuleRow.tsx
  frontend/src/pages/Routing/RoutingRulesPage.test.tsx
  frontend/src/pages/Routing/RoutingRulesPage.tsx
  frontend/src/pages/Routing/types.ts
Due: ts-lint, ts-check, test

fix: check connection eligibility before building the message in dispatch
  backend/app/Mail/Dispatch/WpMailBridge.php
Due: php-compatibility

Path conditions:
  style-lint: any of: *.{css,scss}
  php-lint: any of: *.{php}
  php-compatibility: any of: backend/**/*.php
  ts-lint: any of: *.{js,ts,jsx,tsx}
  ts-check: any of: *.{ts,tsx}
  test: any of: *.test.{js,ts,jsx,tsx}
